/* =============================================================
                          ELEMENTS
=============================================================== */

.button {
  // @extend button;
  border-radius: 0 0 0.5rem 0;
  transition: all 0.2s ease-in-out;
  &:hover {
    border-radius: 0.7rem;
  }
}

.on-air .button {
  font-size: $size-5 * 0.9;
  padding: 1rem 1rem;
}

.on-air {
  .buttons-wrapper {
      @include from($desktop) {
    position: absolute;
    bottom: 0;
  }
}
}

.call-to-action {
  background-color: darken($basic-red, 5);
  color: #fff;
  font-weight: 400;
  border: 1px solid $basic-red;
  // transition: 0.2s background-color ease-in-out;
  margin-right: 0.5rem;
  i {
    font-size: 0.5rem;
    position: relative;
    top: 0.1rem;
  }
  &:hover {
    color: #fff;
    background-color: darken($basic-red, 40);
  }
  &:active {
    color: #fff;
  }
}
.station-list {
  padding-right: 0.5rem;
  @include from($desktop){
    padding-right: 0.5rem;
}
  li {
    padding-bottom: $vertical-rhythm-unit-1;
    margin-bottom: $vertical-rhythm-unit-1;
    border-bottom: 1px solid $light-gray;
    &:last-child {
      border:none;
      margin: 0;
      padding: 0;
    }
  }
}
.station-link {
  display: flex;
  align-items: center;
  font-size: $size-6;
  position: relative;
  .icon {
    height: 1.35rem;
    width: auto;
    flex-shrink: 0;
    opacity: 0.8;
    img {
      height: 100%;
    }
  }
  .play-icon-wrapper {
    @include play-icon-wrapper($light-gray, 1.2rem);
    flex-grow: 0;
    margin-left: 0.5rem;
    right: 0;
  }
  &:hover {
    .play-icon-wrapper {
      color: $basic-red;
    }
  }
}

article.main-article > figure {
  margin: $vertical-rhythm-unit-4 auto;
  img {
    border-radius: 0 0 1rem 0;
    max-height: 900px;
    width: auto;
    // margin: 0 auto;
  }
}

.featured .article-tags {
  margin-bottom: $vertical-rhythm-unit-1;
}

.article-tags i {
  font-size: 0.8rem;
  color: $light-gray;
}

.article-teaser .article-tags {
  margin-bottom: $vertical-rhythm-unit-1/2;
}

.article-tag {
  border: 1px solid $light-gray;
  padding: 0.15rem 0.4rem;
  font-size: $size-7;
  margin-right: 0.75rem;
  border-radius: 0 0 0.45rem 0;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  &:hover {
    color: #fff;
    background-color: $basic-red;
    border-color: $basic-red;
  }
  &.date-tag {
    color: $link;
  }
}

.featured-img {
  border-radius: 0 0 1em 0;
  margin-bottom: $vertical-rhythm-unit-3;
  @include from($desktop) {
    margin-bottom: 0;
    transition: opacity 0.2s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.featured-img-anchor {
  display: block;
}

.carousel-item .player-shortcut {
  width: 80%;
  margin: 0 auto;
  @include from($large-mobile){
    width: 70%;
  }
  @include from($tablet){
    width: 90%;
  }
}

.carousel-nav-left,
.carousel-nav-right {
  height: 3rem;
  width: 2rem;
  background-color: $gray;
  color: #fff;
@include from($desktop) {
  background-color: rgba(0,0,0,0.4);
  transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: $basic-red !important;
      color: #fff !important;
    }
  }
}

.on-air-top-bar {
  background-color: $player-light-gray;
  padding: $vertical-rhythm-unit-1/2 1.4rem;
}

.social-media-icons {
  display: flex;
  justify-content: space-around;
}

.social-icon {
  display: inline-flex;
  margin-right: 0.5rem;
  @include until($desktop) {
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    margin-bottom: $vertical-rhythm-unit-3;
    img {
      filter: invert(.5);
    }
  }
  @include from($desktop) {
    width: 0.85rem;
    height: 0.85rem;
    &:last-child {
      margin-right: none;
    }
  }
  img {
    padding: 0;
    width: 100%;
    height: 100%;
  }
  &.is-large {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1.5rem;
  }
}

.article-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: $vertical-rhythm-unit-3;
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.hourly-list {
  li {
    margin-bottom: 0;
    position:relative;
    padding-bottom: $vertical-rhythm-unit-4;
    margin-left: 4rem;
    &:before {
      content:"";
      position: absolute;
      left: -1.5rem;
      border-left: 1px solid $light-gray;
      height: 100%;
      width: 1px;
      z-index: 0;
    }
    &:last-child:before {
      content: none;
    }
  }
  .hour {
    color: $basic-red;
    position: relative;
    margin-left: -3rem;
    background-color: #fff;
    z-index: 2;
  }
}

.accordion-content {
  @include until($desktop) {
      padding: $vertical-rhythm-unit-1 2rem;
  }
  @include from($desktop) {
      padding-left: 3rem;
  }
}

.information-program {
  width: 100%;
  @include from($desktop) {
  width: 70%;
}
  td {
      vertical-align: middle;
  }
  .table-title {
    color: $basic-red;
  }
}

.musician-illustration-left,
.musician-illustration-right {
  position: relative;
  min-height: 20rem;
  z-index: 5;
  img {
    position: absolute;
    height: 28rem;
    max-width: none;
    top: -2rem;
    @include from(1600px) {
      top: -6rem;
      height: 36rem;
    }
  }
}

.musician-illustration-left img {
  right: -2rem;
}

.musician-illustration-right img {
  left: -3rem;
}
.has-background-test {
  background-color: #2a68aa;
  background-image: linear-gradient(#14283d 0%,#14487d 16%,#2a68aa 57%,#f1f1f1 100%);
  background-image: url('https://svgshare.com/i/2x3.svg');
  background-image: url('../files/img/testowe_tlo.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.responsive-yt-embed {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  & iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

#sidebar-fixedIframe-wrapper.fixed-player {
  @include from($desktop) {
    position: fixed;
    z-index: 999;
    width: 240px;
    bottom: 0;
    left: 0;
  }
}

.newsletter-box {
  padding: 1.7rem 2rem;
  background-color: #e4e4e6;
  border-radius: 0 0 1rem 0;
  .control {
    padding-bottom: 1rem;
  }
  input[type='submit'] {
    background-color: #374e61;
    color: #fff;
    cursor: pointer;
  }
}

.swiper-item {
  display: none;
  &.is-active {
    display: block;
  }
}

.swiperNextButton, .swiperPrevButton {
  cursor: pointer;
  &.inactive {
    color: #eee;
    cursor: default;
  }
}

.current-day{
  display: none;
  &.is-active {
    display: block;
  }
}
