/* =============================================================
                          ELEMENTS
=============================================================== */

.button {
  @extend button;
}

.article-meta {
  display: flex;
  align-items: center;
  margin-bottom: $vertical-rhythm-unit-3;
  .article-date {
    margin-left: auto;
  }
}

.main-article-container figure {
  margin-bottom: $vertical-rhythm-unit-4;
  img {
    border-radius: 0 0 1rem 0;
  }
}

.featured .article-tags {
  margin-bottom: $vertical-rhythm-unit-1;
}

.article-tag {
  border: 1px solid $light-gray;
  padding: 0.15rem 0.4rem;
  font-size: $size-7;
  margin-right: 0.75rem;
  border-radius: 0 0 0.45rem 0;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  &:hover {
    color: #fff;
    background-color: $basic-red;
    border-color: $basic-red;
  }
  &.date-tag {
    color: $link;
  }
}

.featured-img {
  border-radius: 0 0 1em 0;
  @include from($desktop) {
    margin-bottom: $vertical-rhythm-unit-3;
  }
}

.carousel-item .player-shortcut {
  width: 80%;
  margin: 0 auto;
  @include from($large-mobile){
    width: 70%;
  }
  @include from($tablet){
    width: 90%;
  }
}

@include from($desktop){
.carousel-nav-left,
.carousel-nav-right {
  transition: background 0.2s ease-in-out;
  &:hover {
    background: $basic-red !important;
    color: #fff !important;
  }
}
}

#main-nav {
  .input {
    border-radius: 1rem;
    font-size: $size-6;
  }
}

.social-icon {
  width: 0.75rem;
  height: 0.75rem;
  display: inline-flex;
  margin-right: 0.5rem;
  &:last-child {
    margin-right: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
