.audition-list ul {
  @include from($desktop) {
    display: flex;
    height: 16rem;
    flex-wrap: wrap;
    li {
      width: 45%;
      margin-right: 5%;
    }
  }
  li {
    margin-bottom: $vertical-rhythm-unit-1;
    padding-bottom: $vertical-rhythm-unit-1;
    border-bottom: 1px solid $light-gray;
    &:last-child {
      border: none;
    }
  }
}

.is-circle-bullet-list {
  list-style-type: none;
  li:before {
    content: "\2022";
     color: $basic-red;
     font-weight: bold;
     display: inline-block;
     width: 1em;
     margin-left: -1em;
  }
}

.is-spaced-list {
  li {
    padding-bottom: $vertical-rhythm-unit-1;
  }
}
