/* =============================================================
                          NAVIGATION
=============================================================== */

.logo {
  height: 100%;
}

.navbar {
  max-width: 100%;
}

.navbar-dropdown {
  margin-top: -0.3rem;
  border-top: none;
  border-radius: 0 0 12px 0;
  padding: 0.75rem 1.5rem;
}

.navbar-after-divider {
  height: 0.3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to left, $basic-red, lighten($basic-red, 20%));
}

.navbar-menu .navbar-item {
  font-size: $size-6;
  &:last-child{
  }
}

.navbar-link {
  &:after {
    border-width: 1px !important;
  }
}

.dropdown {
  button {
    border: none;
    &:focus {
      outline: 0;
    }
  }
}

.pagination {
  margin: $vertical-rhythm-unit-1;
  .pagination-link {
    border-radius: 0 0 0.4em 0;
  }
}
