/* =============================================================
                          NAVIGATION
=============================================================== */

.logo {
  height: 100%;
}

.navbar {
  max-width: 100%;
}

#main-menu {
  .navbar-end {
        order: 2;
  }
  @include until($desktop) {
    padding: 0 1rem;
    background-color: $player-light-gray;
  }
}

#main-menu .level-left, #main-menu .level-right {
  @include until($desktop) {
    margin-top: $vertical-rhythm-unit-1;
  }
}

.has-dropdown > .navbar-link {
  @include until($desktop) {
    font-weight: bold;
    &::after {
      display: block;
    }
  }
}

.navbar-dropdown, .accordion-content {
  display: none;
  &.open {
      display: block;
  }
}

.navbar-dropdown {
  margin-top: -0.3rem;
  border-top: none;
  border-radius: 0 0 12px 0;
  padding: 0.75rem 1.5rem;
}

.navbar-after-divider.is-active {
  height: 0.3;
}

.navbar-after-divider {
  height: 0rem;
  width: 100%;
  position: absolute;
  bottom: -0.3rem;
  // background-image: linear-gradient(to left, #2e77b9, #f09d9d);
  background-color: #2e77b9;
  // background-image: linear-gradient(to left, $basic-red, lighten($basic-red, 20%));
  .cssgradients &{
    background-image: linear-gradient(to left, #d13131, #f09d9d);
  }
}

.navbar-menu .navbar-item {
  @include until($desktop) {
  padding-top: $vertical-rhythm-unit-1;
  font-size: $size-5;
}
  @include from($desktop) {
    font-size: $size-6;
  }
  &:last-child{
  }
}

.navbar-link {
  &:after {
    border-width: 1px !important;
  }
}

.dropdown {
  button {
    border: none;
    &:focus {
      outline: 0;
    }
  }
}
//search bar
#main-nav {
  .input {
    border-radius: 1rem;
    font-size: $size-6;

  }
  @include until($desktop) {
    .input {
      border-radius: 0;
      font-size: $size-4;
    }
  span {
      font-size: $size-4;
    }
  }
}

.pagination {
  margin: $vertical-rhythm-unit-1;
  .pagination-link {
    border-radius: 0 0 0.4em 0;
  }
}

.day-selection {
  border-bottom: 1px solid $gray;
  border-top: 1px solid $gray;
  margin-bottom: $vertical-rhythm-unit-3;
  padding-bottom: $vertical-rhythm-unit-3;
  margin-top: $vertical-rhythm-unit-3;
  padding-top: $vertical-rhythm-unit-3;
}

.c-content {
  padding: 20px;
}

.c-go-top {
  background: none repeat scroll 0 0 padding-box $basic-red;
  bottom: 20px;
  border-radius: 0 0 12px 0;
  color: #eee;
  font-size: 12px;
  opacity: 0.8;
  padding: 10px;
  position: fixed;
  text-decoration: none;
  z-index: 999;
  right: 90px;
  &::before {
    content: 'w górę';
  }
  @include from($desktop) {
    display: none;
  }
}

.c-go-top:hover,
.c-go-top:focus,
.c-go-top:active,
.c-go-top:visited {
  color: #fff;
  outline: 0;
  text-decoration: none;
}
