html {
  @include from($tablet){
    font-size: 17px;
  }
}

.see-more-link {
  color: $basic-red;
}

.section-title {
  font-size: $size-3;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid $grey;
  margin-bottom: $vertical-rhythm-unit-4;
}

.section-title-secondary {
  font-size: $size-4;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid $grey;
  margin-bottom: $vertical-rhythm-unit-4;
}

article p {
  color: $dark-gray;
  @include from($desktop) {
    padding-right: 4rem;
    line-height: 1.6;
  }
}

article.intertext {
  border-bottom: none;
  p {
    font-style: italic;
    padding-left: 2rem;
  }
}

.article-title, .main-section-title {
  font-size: $size-3;
  color: $dark-gray;
  font-weight: lighter;
  margin-bottom: $vertical-rhythm-unit-4;
  @include from($desktop) {
      border-top: 1px solid $player-light-gray;
      padding-top: $vertical-rhythm-unit-1;
      font-size: $size-2;
      margin-bottom: $vertical-rhythm-unit-5;
  }
}

.has-border {
  border-bottom: 1px solid $light-gray;
}

h2.section-subtitle {
  font-size: $size-4;
  margin-bottom: $vertical-rhythm-unit-1;
}

h2.article-subtitle {
  font-size: $size-3;
  margin-bottom: $vertical-rhythm-unit-3;
  margin-top: $vertical-rhythm-unit-5;
}

h3.article-subtitle {
  font-size: $size-4;
  margin-bottom: $vertical-rhythm-unit-3;
}

.article-meta {
    position: relative;
    margin-bottom: $vertical-rhythm-unit-1;
    @include from($large-mobile) {
        display: flex;
        align-items: center;
        margin-bottom: $vertical-rhythm-unit-3;
    }
}

.article-date {
  margin-left: auto;
    @include until ($large-mobile) {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.article-category {
    color: $gray;
    font-size: $size-5;
    text-transform: uppercase;
    margin-right: 2rem;
    @include until($large-mobile) {
        display: block;
        margin-bottom: $vertical-rhythm-unit-1/2;
    }
}

blockquote {
  font-size: $size-4;
  color: $medium-gray;
  font-style: italic;
  padding-left: 3rem;
  border-left: 2px solid $basic-red;
  margin: $vertical-rhythm-unit-3 0;
  small {
    margin-top: $vertical-rhythm-unit-1;
    display: block;
    font-size: $size-5;
  }
  @include from($desktop) {
    max-width:80%;
  }
}

.lead {
  font-size: $size-5;
  font-weight: lighter;
  color: $dark-gray;
  font-style: italic;
  margin-top: -1rem;
}

.featured-article-title {
  font-size: $size-4;
  margin-bottom: $vertical-rhythm-unit-1;
}

.teaser-title {
  font-size: $size-4;
}

.highlights-title {
  display: block;
  color: $basic-red;
}

.footer_headline {
  color: lighten($link, 50);
  font-size: $size-5;
  text-transform: uppercase;
  padding-bottom: $vertical-rhythm-unit-1;
  margin-bottom: $vertical-rhythm-unit-1;
  border-bottom: 1px solid #ccc;
}

.carousel-title {
  background-color: darken($gray, 10);
  color: lighten($link, 50);
  padding: $vertical-rhythm-unit-1 1em;
  font-size: $size-6;
  text-transform: uppercase;
  text-align: center;
}

.on-air-title, .tab-title {
  @include from($desktop) {
    margin-bottom: $vertical-rhythm-unit-1;
  }
  font-weight: lighter;
  text-transform: uppercase;
}

.on-air .on-air-title {
  font-size: $size-4;
  margin-bottom: $vertical-rhythm-unit-4;
}

.audition-info {
  max-width: 250px;
}

.song-title, .artist-name {
  display: inline-block;
  font-size: $size-4;
}

.artist-name {
  margin-right: 0.5rem;
}

.song-title {
  font-weight: bold;
}

.audition-title {
  font-style: italic;
  font-size: $size-6;
}

.on-air-title .icon {
  margin-right: 1rem;
}

.stationlink-artist-name {
  margin-left: 2rem;
}

.stationlink-title {
  font-weight: bold;
}

.sidebar-headline {
  font-size: $size-4;
  margin-bottom: $vertical-rhythm-unit-1;
}

footer {
    a, p {
      color: lighten($link, 20);
      line-height: $vertical-rhythm-unit-3;
    }
}

.is-red {
  color: $basic-red;

}
