body {
  @include until($tablet) {
    font-size: 14px;
  }
}

.section-title {
  font-size: $size-3;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid $grey;
  margin-bottom: 1rem;
}

.featured-article-title {
  font-size: $size-4;
}
