body {
  @include until($tablet) {
    font-size: 14px;
  }
}

.section-title {
  font-size: $size-3;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid $grey;
  margin-bottom: $vertical-rhythm-unit-4;
}

.section-title-secondary {
  font-size: $size-4;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid $grey;
  margin-bottom: $vertical-rhythm-unit-4;
}

.featured-article-title {
  font-size: $size-4;
  margin-bottom: $vertical-rhythm-unit-1;
}

.highlights-title {
  display: block;
  color: $basic-red;
}

.footer_headline {
  color: lighten($link, 50);
  font-size: $size-5;
  text-transform: uppercase;
  padding-bottom: $vertical-rhythm-unit-1;
  margin-bottom: $vertical-rhythm-unit-1;
  border-bottom: 1px solid #ccc;
}

footer {
    a, p {
      color: lighten($link, 20);
      line-height: $vertical-rhythm-unit-3;
    }
}
