//COLORS
$basic-red: #E24545;
$link: #5B5B5B;
$light: #EEE;
$player-light-gray: #EFEFEF;
$light-grey: #C0C1C4;

// NAVIGATION

$navbar-height: 6rem;
$navbar-item-color: $link;
$navbar-item-hover-color: &link;
$navbar-item-hover-background-color: &light;
$navbar-item-active-color: &link;
$navbar-item-active-background-color: &light;
