extends ../layouts/static-layout.pug
block vars
  -
    let title ="Polskie Radio Katowice - program";
    let baseurl= "../";
block main-content
  h2.section-title
    span.icon.is-large
      i.fas.fa-calendar-alt
    Programy Informacyjne
  section.accordion-content
    table.table.information-program
      tr
        td.table-title Informacje
        td co 1h
      tr
        td.table-title Informacje Auto Radio
        td  
          |  6.00 –9.00 #[br]
          |  14.00 –18.00 #[br]
          |  co 1/2 h #[br]
      tr
        td.table-title Informacje Sportowe
        td  
          |  7:06 #[br]
          |  12.05 #[br]
          |  14:05 #[br]
          |  16:05 #[br]
      tr
        td.table-title Informacje Gospodarcze
        td  
          |  10:05
      tr
        td.table-title Serwis EKO
        td  
          |  9:05 #[br]
          |  11:05
  h1.section-title
    span.icon.is-large
      i.fas.fa-calendar-alt
    Ramowy Program Radia Katowice
  section.accordion-content
    .tabs.is-medium
      ul
        li.is-active
          a pon
        li
          a wt
        li
          a śr
        li
          a czw
        li
          a pt
        li
          a sob
        li
          a nd
    ul.hourly-list
      li  #[span.hour 00:00] Lwowska Fala - powtórka programu
      li  #[span.hour 01:00] Noc z Radiem Katowice
      li  #[span.hour 01:15] Melodie Świata
      li  #[span.hour 10:00] Przystanek Lato - Wakacyjny Program Radia Katowice od 10:00 do 14:00
      li  #[span.hour 10:45] Konkurs
      li  #[span.hour 11:45] Każdemu damy radę - magazyn poradniczy
      li  #[span.hour 12:25] Kalendarium historyczne
      li  #[span.hour 14:05] Za kierownicą - magazyn motoryzacyjny
      li  #[span.hour 14:20] Trójwymiarowa Prognoca Pogody
      li  #[span.hour 15:00] Instrukcja Obsługi Leżaka
      li  #[span.hour 15:25] Konkurs
      li  #[span.hour 16:45] Popołudnie z reportażem
      li  #[span.hour 17:25] Ślady - magazyn religijny
      li  #[span.hour 20:05] Radio Katowice - każdego dnia! - program wieczorny
