extends layouts/layout.pug
block vars
  -
    let title ="Polskie Radio Katowice";
    let bodyClass ="home"
    let baseurl= "";
block content 
  section.hero#homepage-hero
    .hero-body
      .container.is-flex-tablet
        .musician-illustration-left.is-hidden-touch
            img(src= baseurl + "assets/files/img/grajek_chudy.svg")
        .on-air-wrapper
          include _includes/_on_air.pug
        .musician-illustration-right.is-hidden-touch
            img(src= baseurl + "assets/files/img/grajek_gruby.svg")
  section.main-content
    .container
      section.player-shortcuts
        include _includes/_shortcuts.pug
      .columns.is-desktop.is-gapless
        .column.is-9-desktop
          section.recent-news
            include _includes/_recent_news.pug
        .column.is-3-desktop
          aside.sidebar
            include _includes/_sidebar.pug
  section.recent-video.section
    include _includes/_video_carousel.pug
  section.section
    .container
      include _includes/_secondary_news.pug
  section.section
    .container
      .columns
        .column.is-6
          include _includes/_highlights.pug
        .column.is-6
          include _includes/_events-list.pug
  section.section.partners
    include _includes/_patrons_carousel.pug
