doctype html
html
    include _includes/_head.pug
    body.has-navbar-fixed-top
      include _includes/_header.pug
      section.main-content
        .container
          .columns.is-desktop.is-gapless
            .column.is-10-desktop.is-9-widescreen
              section.on-air
                include _includes/_on_air.pug
              section.player-shortcuts
                include _includes/_shortcuts.pug
              section.recent-news
                include _includes/_recent_news.pug
            .column.is-2-desktop.is-3-widescreen
              aside.sidebar
                include _includes/_sidebar.pug
      section.recent-video.section
        include _includes/_video_carousel.pug
      section.section
        .container
          .columns
            .column.is-offset-1.is-5
              include _includes/_highlights.pug
            .column.is-5
              include _includes/_events-list.pug
      section.section.newsletter
        .container
          include _includes/_newsletter.pug
      include _includes/_footer.pug
