doctype html
html.has-player-navbar-fixed-top
  include _includes/_head.pug
  body.starterkit
    include _includes/_header_player.pug
    include _includes/_main_player.pug
    script(src="js/script.js")
