extends layouts/layout-player.pug
include ./_includes/mixins/_player-current.pug
block vars
  -
    let title ="Polskie Radio Katowice - player";
    let baseurl= "";
    let current = {
      name: "Hey",
      title: "Fire",
      image: "Hey.jpg",
    }
block content
  +current(current)
  section.player-shortcuts
    include ./_includes/_shortcuts.pug
