doctype html
html
  include _includes/_head_player.pug
  body.has-player-navbar-fixed-top
    include _includes/_header_player.pug
    section.player
      include _includes/mixins/_player-current.pug
      +current({
      icon: "cloud",
      date: "25.04.2018 | 14:00",
      title: "Pogoda"
      })
    section.section.player-stations-menu
      include _includes/player_includes/_player_stations.pug
    section.section.player-shortcuts
      include _includes/_shortcuts.pug
    script(src="assets/js/script.js")
