doctype html
html.has-player-navbar-fixed-top
  include _includes/_head.pug
  body.starterkit
    include _includes/_header_player.pug
    section.player
      include _includes/mixins/_player-current.pug
      +current({
      icon: "info",
      date: "25.04.2018 | 16:45",
      title: "Informacje"
      })
      .player-shortcuts
        include _includes/mixins/_player_shortcuts.pug
        +shortcuts([
          {image:"Ferdek.jpg", title:"Andrzej Grabowski: Jest dobrze", href:"/player.html"},
          {icon:"cloud", title:"Pogoda", hour:"14:00", href:"/player-pogoda.html"},
          {icon:"car", title:"Auto Radio", hour:"15:20", href:"/player-autoradio.html"}
        ])
        include _includes/player_includes/_player_carousel.pug
