extends layouts/layout-player.pug
include ./_includes/mixins/_player-current.pug
include ./_includes/mixins/_inline_svg.pug
block vars
  -
    let title ="Polskie Radio Katowice - dance";
    let baseurl= "";
    let current = {
      name: "Elvis Presley",
      title: "Crawfish",
      image: "okladka_nuta_m.svg",
    }
    let player_news = [
      {
        title: "Odlotowa zabawa w Radiu Katowice",
        description:"Letni konkurs Radia Katowice z nagrodą o wartości 8000 zł"
      },
      {
        title: "Radio Katowice najlepsze na rynku",
        description:"Konkurs fotograficzny dla Słuchaczy! Nagrody każdego dnia!"
      },
      {
        title: "Lista Przebojów",
        description:"20 hitów! Przebojowy początek weekendu! Zagłosuj i słuchaj! Każdy piątek! 19:00"
      },
      {
        title: "Auto Radio – aktualne informacje drogowe",
        description:"Informacje z dróg województwa śląskiego."
      },
      {
        title: "Trójwymiarowa Prognoza Pogody na dziś",
        description:"Cezary Orzech o pogodzie! Każdego dnia! 7:15 i 10:15 i on-line. ZOBACZ!"
      },
      {
        title: "Infostrada",
        description:"Magazyn reporterów Radia Katowice. Każdego dnia od 14.00"
      },
    ]
mixin shortcut(time, title, icon, isvertical)
  .player-shortcut(class= isvertical)
    .pause
      span.icon.is-large
        i.fas.fa-stop
    .player-shortcut-icon-wrapper
      span.icon.is-large
        img(src=  baseurl + "assets/files/img/" + icon +".svg")
    .player-shortcut-info-wrapper
      span.player-shortcut-time= time
      span.player-shortcut-title= title
      span.player-shortcut-call-to-action słuchaj
block content
  +current(current, "dance")
  section.player-shortcut-group
    .player-shortcuts
      h2.shortcuts-group-title 
        span Serwisy
      .columns.is-mobile
        .column.is-4
          +shortcut('','Pogoda','ico-pogoda', 'shortcut-is-vertical-mobile')
        .column.is-4
          +shortcut('','Auto Radio','ico-autoradio', 'shortcut-is-vertical-mobile')
        .column.is-4
          +shortcut('','Informacje','ico-informacje', 'shortcut-is-vertical-mobile')
    .player-shortcuts
      h2.shortcuts-group-title
        span Podcasty
      .carousel.carousel-animated.carousel-animate-slide
        .carousel-container
          .carousel-item.is-active
            +shortcut('','Nazwa audycji', 'ico-audycje')
          .carousel-item
            +shortcut('','Nazwa audycji 2', 'ico-audycje')
          .carousel-item
            +shortcut('','Nazwa audycji 3', 'ico-audycje')
        .carousel-navigation.is-overlay
          .carousel-nav-left
            i.fa.fa-chevron-left(aria-hidden="true")
          .carousel-nav-right
            i.fa.fa-chevron-right(aria-hidden="true")
  section.player-articles
    h2.section-title-secondary Tym żyje region
    ul
      each val in player_news
        li
          a
            span.player-articles-title= val.title
            span= val.description
