.controls
  button#player-button-play.playing #[.play-icon-wrapper: span.play-icon]
  .volume-control
    i.fas.fa-volume-up
    input.slider(type='range' step="1" min="0" max="100" value="50")
  p.time-played  00:15
  
