.level.is-mobile
  .level-left
    .level-item.player-stations-title
      h2 Programy
  .level-right
    .level-item
      a(href="#").station-list-item.is-station-active
        figure.image
          img(src="assets/files/img/logo_programu-1.png")
    .level-item      
      a(href="#").station-list-item 
        figure.image
          img(src="assets/files/img/logo_programu-2.png")
        div.station-tooltip
          span.tooltip-station-name Teraz na #[i 2]:
          span.tooltip-artist Artur Rojek 
          span.tooltip-title Beksa
    .level-item   
      a(href="#").station-list-item
        figure.image
          img(src="assets/files/img/logo_programu-3.png")
        div.station-tooltip
          span.tooltip-station-name Teraz na #[i top50]:
          span.tooltip-artist Tom Waits 
          span.tooltip-title Fumblin' With The Blues
    .level-item    
      a(href="#").station-list-item 
        figure.image
          img(src="assets/files/img/logo_programu-4.png")
        div.station-tooltip
          span.tooltip-station-name Teraz na #[i oldies]:
          span.tooltip-artist Nick Cave
          span.tooltip-title Weeping song
