.container
  .columns.is-mobile
    .column.is-3
      h2 Programy
    .column.is-9
      .columns.is-mobile
        .column  
          a(href="#").is-station-active
            figure.image
              img(src="assets/files/img/logo_programu-1.png")
        .column        
          a(href="#") 
            figure.image
              img(src="assets/files/img/logo_programu-2.png")
        .column        
          a(href="#") 
            figure.image
              img(src="assets/files/img/logo_programu-3.png")
        .column        
          a(href="#") 
            figure.image
              img(src="assets/files/img/logo_programu-4.png")
