.columns.is-mobile.is-gapless
  .column.player-stations-title.is-4
    h2 Programy
  .column.is-9-mobile.is-narrow
    .columns.is-mobile.stations-list
      .column.is-narrow
        a(href="#").is-station-active
          figure.image
            img(src="assets/files/img/logo_programu-1.png")
      .column.is-narrow      
        a(href="#") 
          figure.image
            img(src="assets/files/img/logo_programu-2.png")
      .column.is-narrow       
        a(href="#") 
          figure.image
            img(src="assets/files/img/logo_programu-3.png")
      .column.is-narrow     
        a(href="#") 
          figure.image
            img(src="assets/files/img/logo_programu-4.png")
