.player-shortcuts.columns.is-mobile.is-marginless
  .player-shortcut.column.is-4.has-text-centered
    p 14:00
    span(class="icon is-medium")
      i(class="fas fa-cloud fa-2x")
    p Pogoda
    .player-shortcut-call-to-action 
      .play-icon-wrapper #[span.play-icon]
      span SŁUCHAJ
  .player-shortcut.column.is-4.has-text-centered
    p 16:10
    span(class="icon is-medium")
      i(class="fas fa-car fa-2x")
    p Auto Radio
    .player-shortcut-call-to-action 
      .play-icon-wrapper #[span.play-icon]
      span SŁUCHAJ
  .player-shortcut.column.is-4.has-text-centered
    p 12:45
    span(class="icon is-medium")
      i(class="fas fa-info fa-2x")
    p Informacje
    .player-shortcut-call-to-action 
      .play-icon-wrapper #[span.play-icon]
      span SŁUCHAJ
