.player-auditions-carousel.carousel.carousel-animated.carousel-animate-slide
  h2.carousel-title Ostatnio na antenie
  .carousel-container
    .carousel-item.is-active.has-text-centered
      a  
        p nazwa nagrania
        .play-icon-wrapper #[span.play-icon] 
    .carousel-item.has-text-centered 
      a  
        p nazwa nagrania
        .play-icon-wrapper #[span.play-icon] 
    .carousel-item.has-text-centered 
      a  
        p nazwa nagrania
        .play-icon-wrapper #[span.play-icon] 
  .carousel-navigation.is-overlay
    .carousel-nav-left
      i(class="fa fa-chevron-left")
    .carousel-nav-right
      i(class="fa fa-chevron-right")
