.player-auditions-carousel.carousel.carousel-animated.carousel-animate-slide
  .carousel-container
    .carousel-item.is-active.player-shortcut.columns.is-mobile.is-marginless
      .column.is-3.has-text-centered.has-icon
        span(class="icon is-medium icon-music")
          i(class="fas fa-music fa-2x")
      .column.is-9
        p 24.03.2019 15:00
        p Nazwa nagrania
        .player-shortcut-call-to-action 
          .play-icon-wrapper #[span.play-icon]
          span SŁUCHAJ
    .carousel-item.player-shortcut.columns.is-mobile.is-marginless
      .column.is-3.has-text-centered.has-icon
        span(class="icon is-medium icon-music")
          i(class="fas fa-music fa-2x")
      .column.is-9
        p 24.03.2019 13:10
        p Nazwa nagrania
        .player-shortcut-call-to-action 
          .play-icon-wrapper #[span.play-icon]
          span SŁUCHAJ
    .carousel-item.player-shortcut.columns.is-mobile.is-marginless
      .column.is-3.has-text-centered.has-icon
        span(class="icon is-medium icon-music")
          i(class="fas fa-music fa-2x")
      .column.is-9
        p 23.03.2019 12:10
        p Nazwa nagrania
        .player-shortcut-call-to-action 
          .play-icon-wrapper #[span.play-icon]
          span SŁUCHAJ
  .carousel-navigation.is-overlay
    .carousel-nav-left
      i(class="fa fa-chevron-left")
    .carousel-nav-right
      i(class="fa fa-chevron-right")
