include ../mixins/_carousel.pug
.carousel-wrapper
  .carousel
    +shortcut({isActive: 1})
    +shortcut({isActive: 0})
    +shortcut({isActive: 0})
    +shortcut({isActive: 0})
    +shortcut({isActive: 0})
    +shortcut({isActive: 0})
  +controls
