.columns.is-mobile
  .column.player-stations-title.is-3-mobile.is-narrow-desktop
    h2 Programy
  .column.is-9-mobile.is-narrow-desktop
    .columns.is-mobile.stations-list
      .column.is-narrow-tablet
        a(href="#").is-station-active
          figure.image
            img(src="assets/files/img/logo_programu-1.png")
      .column.is-narrow-tablet        
        a(href="#") 
          figure.image
            img(src="assets/files/img/logo_programu-2.png")
      .column.is-narrow-tablet        
        a(href="#") 
          figure.image
            img(src="assets/files/img/logo_programu-3.png")
      .column.is-narrow-tablet        
        a(href="#") 
          figure.image
            img(src="assets/files/img/logo_programu-4.png")
