.player-shortcut.columns.is-mobile
  .column.is-3.has-text-centered.has-icon
    span(class="icon is-medium icon-cloud")
      i(class="fas fa-cloud fa-2x")
  .column.is-9
    p 14:00
    p Pogoda
    .player-shortcut-call-to-action 
      .play-icon-wrapper #[span.play-icon]
      span SŁUCHAJ
.player-shortcut.columns.is-mobile
  .column.is-3.has-text-centered.has-icon
    span(class="icon is-medium icon-car")
      i(class="fas fa-car fa-2x")
  .column.is-9
    p 16:10
    p Auto Radio
    .player-shortcut-call-to-action 
      .play-icon-wrapper #[span.play-icon]
      span SŁUCHAJ
.player-shortcut.columns.is-mobile
  .column.is-3.has-text-centered.has-icon
    span(class="icon is-medium icon-info")
      i(class="fas fa-info fa-2x")
  .column.is-9
    p 12:45
    p Informacje
    .player-shortcut-call-to-action 
      .play-icon-wrapper #[span.play-icon]
      span SŁUCHAJ
