@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,700&subset=latin-ext');
@import '_includes/_vars';
@import 'bulma/bulma.sass';
@import '_includes/_carousel.sass';
@import '_includes/_mixins';
@import '_includes/_typography';
@import '_includes/_elements';
@import '_includes/_lists';
@import '_includes/_navigation';


/* =============================================================
                          NAVIGATION
=============================================================== */

// Player Navigation

.navbar.navbar-player {
  position: static;
  background-color: $dark-gray;
  height: $navbar-player-height;
  min-height: $navbar-player-height;
}

.navbar-player {
  .navbar-brand,
  .navbar-item {
    height: $navbar-player-height;
    margin: 0 auto;
  }
}

.logo-player {
  height: $navbar-player-height;
  margin: 0;
}



/* =============================================================
                          LAYOUT
=============================================================== */
html * {
  // max-width: 360px;
}

body {
  background-color: #eee;
}

html  {
  background-color: darken($dark-gray, 15);
}

.player-main {
  height: auto;
  .content-tab {
    background-color: #fff;
    padding: $vertical-rhythm-unit-1 1.75rem;
  }
}

.player-current {
  background-color: #fff;
}

.columns.has-small-gap-mobile {
  @include until($tablet){
    margin: -0.25rem;
    .column {
      padding: 0.25rem;
    }
}
}

/* =============================================================
                          PLAYER INTERFACE
=============================================================== */

.player-main {
  background-color: #fff;
  position: relative;
}

.player-cover,
.player-cover-icon {
  height: 18rem;
  height: 90vw;
}

.cover {
  position: relative;
  background-position: center;
  background-size: cover;
}

.player-cover-icon {
  background-color: darken($dark-gray, 20);
  display: flex;
  .icon {
    text-align: center;
    display: block;
    margin: auto;
  }
}

.stations-list {
}

.player-artist-name,
.player-song-title {
  font-size: $size-4;
  margin-bottom: 0;
}


//wrapper
.player-shortcuts {
  @include until($desktop) {
    padding: 1.4rem 0.75rem;
  }
  @include from($desktop){
    background-color: transparent;
    padding-bottom: $vertical-rhythm-unit-4;
    h2 {
      margin-top: 0.5rem;
      font-size: $size-4;
      margin-bottom: $vertical-rhythm-unit-1
    }
  }
}

.player-current-station {
  background-color: $gray;
  border-radius: 3rem;
  img{
    max-width: 60%;
  }
}

.player-shortcut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0 0 12px 0;
  border:1px solid $player-light-gray;
  @include from($desktop) {
    transition: border 0.3s ease-in-out;
    &:hover {
      border:1px solid lighten($basic-red, 20);
    }
  }
}

.player-shortcut-icon-wrapper {
  flex-grow: 1;
  text-align: center;
  @include from($large-mobile) {
    margin-right: 1rem; //taki sam jak padding rodzica
  }
  .icon {
    @include from($tablet) {
      font-size: $size-7;
    }
  }
}

.player-shortcut-info-wrapper {
  flex-grow: 1;
}

.player-shortcut-time,
.player-shortcut-title,
.player-shortcut-call-to-action {
  display: block;
  margin-bottom: $vertical-rhythm-unit-1/3;
  &:last-child {
    margin-bottom: 0;
  }
}

.player-shortcut-time {
  font-size: $size-7;
  color: lighten($gray, 30);
}

.player-shortcut-title {
  //truncate long (180px +) titles
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 180px;
}

.player-shortcut-call-to-action{
  color: $basic-red;
}

.player-shortcut-icon-wrapper {
  .fa-music {color: $music-color};
  .fa-info {color: $info-color};
  .fa-cloud {color: $weather-color};
  .fa-car {color: $auto-radio-color};
}

.shortcut-is-vertical-mobile {
  @include until($large-mobile) {
    display: block;
    text-align: center;
    padding: 0.75rem;
  }
  .player-shortcut-icon-wrapper {
    padding: 0;
  }
}

.player-body .player-auditions-carousel {
    margin: $vertical-rhythm-unit-1 0.25em;
}

.controls {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

#player-button-play {
  border: 0;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0 1em;
  .play-icon-wrapper {
    @include play-icon-wrapper(#fff, 2.5rem);
    margin: 0;
  }
}

.volume-control {
  display: flex;
  align-items: center;
  margin: 0 1em;
  i {
    margin-right: .75em;
    line-height: 2.5rem;
  }
  @include volume-control;
}

.time-played {
  display: block;
  margin: 0 1em;
}

.station-tooltip {
  display: none;
}
