@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,700&subset=latin-ext');
@import '_includes/_vars';
@import 'bulma/bulma.sass';
@import '_includes/_carousel.sass';
@import '_includes/_mixins';
@import '_includes/_typography';


/* =============================================================
                          NAVIGATION
=============================================================== */

// Player Navigation

html {
  font-size: 16px;
}

.is-hidden-mobile {
  display: none;
}

.navbar.navbar-player {
  position: static;
  background-color: $dark-gray;
  height: $navbar-player-height;
  min-height: $navbar-player-height;
}

.navbar-player {
  .navbar-brand,
  .navbar-item {
    height: $navbar-player-height;
    margin: 0 auto;
  }
}

.logo-player {
  height: $navbar-player-height;
  margin: 0;
}



/* =============================================================
                          LAYOUT
=============================================================== */

body, .container {
  background-color: #efefef;
  max-width: 460px;
}

html  {
  background-color: darken($dark-gray, 15);
}

.player-main {
  height: auto;
  .content-tab {
    background-color: #fff;
    padding: $vertical-rhythm-unit-4 1.75rem;
    border-bottom: 1px solid $light-gray;
  }
}

.player-current {
  background-color: #fff;
}

.columns.has-small-gap-mobile {
    margin: -0.25rem;
    .column {
      padding: 0.25rem;
    }
}

.player-live-info .tabs {
    margin-bottom: 0;
  }

.player-articles-title {
  display: block;
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.player-articles {
  background-color: #2e3844;
  padding: $vertical-rhythm-unit-5 0.75rem;
  h2 {
    color: #fff;
  }
   .section-title-secondary {
       text-align: center;
   }
   li {
     padding: $vertical-rhythm-unit-1;
     max-width: 90%;
     a {
        color: #a8a8a8;
     }
   }
}

/* =============================================================
                          PLAYER INTERFACE
=============================================================== */

.player-main {
  background-color: #fff;
  position: relative;
}

.player-cover,
.player-cover-icon {
  max-height: 18rem;
  min-height: 300px;
  height: 90vw;
}

.cover {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.player-cover-icon {
  background-color: darken($dark-gray, 20);
  display: flex;
  .icon {
    text-align: center;
    display: block;
    margin: auto;
  }
}

.station-list {
  .station-link .icon {
    height: 2rem;
    opacity: 0.7;
  }
}

.player-artist-name,
.player-song-title {
  font-size: $size-4;
  margin-bottom: 0;
}


//wrapper
.player-shortcuts {
  padding: 1.1rem 1.25rem;
  &:last-child {
    background: lighten(#2e3844, 67);
    padding-bottom: 3rem;
    .shortcuts-group-title{
      span {
      background: lighten(#2e3844, 67);
    }
  }
  }
  background: lighten(#2e3844, 70);
  .column {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

.shortcuts-group-title {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: $vertical-rhythm-unit-1;
  &:before {
    border-top: 1px solid #99a;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 95%;
    z-index: -1;
  }
  span {
    background: lighten(#2e3844, 70);
    padding: 0 15px;
  }
}


.player-current-station {
  padding-right: 1.25rem;
  width: 100%;
  border-right: 1px solid $light-gray;
  .icon {
    height: 4.5rem;
    width: 4.5rem;
  }
}

.player-shortcut {
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0 0 12px 0;
  border:1px solid $player-light-gray;
}

.player-shortcut {
.pause {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.8);
    border-radius: 0 0 12px 0;
    visibility: hidden;
    z-index: -999;
    .icon {
      transition: width 0.2s ease-out, height 0.2s ease-out;
      color: $basic-red;
      border: 3px solid $basic-red;
      border-radius: 3rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.player-shortcut.play .pause {
  visibility: visible;
  z-index: 2;
  .icon{
    width: 3rem;
    height: 3rem;
  }
}

.player-shortcut-icon-wrapper {
  flex-grow: 1;
  text-align: center;
}

.player-shortcut-info-wrapper {
  flex-grow: 1;
}

.player-shortcut-time,
.player-shortcut-title,
.player-shortcut-call-to-action {
  display: block;
  margin-bottom: $vertical-rhythm-unit-1/3;
  &:last-child {
    margin-bottom: 0;
  }
}

.player-shortcut-time {
  font-size: $size-7;
  color: lighten($gray, 30);
}

.player-shortcut-title {
  //truncate long (180px +) titles
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 180px;
}

.player-shortcut-call-to-action{
  color: $basic-red;
}

.player-shortcut-icon-wrapper {
  .fa-music {color: $music-color};
  .fa-info {color: $info-color};
  .fa-cloud {color: $weather-color};
  .fa-car {color: $auto-radio-color};
}

.shortcut-is-vertical-mobile {
    display: block;
    text-align: center;
    padding: 0.75rem;
  .player-shortcut-icon-wrapper {
    padding: 0;
  }
}

.player-body .player-auditions-carousel {
    margin: $vertical-rhythm-unit-1;
}

.controls {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

.player-shortcuts .carousel {
  margin: -0.5rem;
  .carousel-item {
    padding: 0.5rem;
    flex: 1 0 90% !important;
    margin: 0 5%;
  }
}

.carousel-nav-left,
.carousel-nav-right {
  height: 2rem;
  width: 2rem;
  background-color: $medium-gray;
  color: #fff;
}

#player-button-play {
  border: 0;
  background-color: transparent;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0 1em;
  &.playing .play-icon-wrapper {
    @include stop-icon-wrapper(#fff, 2.5rem);
    margin: 0;
  }
  .play-icon-wrapper {
    @include play-icon-wrapper(#fff, 2.5rem);
    margin: 0;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}

.volume-control {
  display: flex;
  align-items: center;
  margin: 0 1em;
  i {
    margin-right: .75em;
    line-height: 2.5rem;
  }
  @include volume-control;
}

.time-played {
  display: block;
  margin: 0 1em;
}

.station-tooltip {
  display: none;
}

.station-list {
  li {
    padding-bottom: $vertical-rhythm-unit-1;
    margin-bottom: $vertical-rhythm-unit-1;
    border-bottom: 1px solid $light-gray;
    &:last-child {
      border:none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.station-link {
  display: flex;
  align-items: center;
  font-size: $size-6;
  position: relative;
  .icon {
    height: 1.25rem;
    width: auto;
    flex-shrink: 0;
    img {
      height: 100%;
    }
  }
  .play-icon-wrapper {
    @include play-icon-wrapper($light-gray, 1.2rem);
    flex-grow: 0;
    margin-left: 0.5rem;
    right: 0;
  }
  &:hover {
    .play-icon-wrapper {
      border-color: $basic-red;
    }
  }
}
