@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,700&subset=latin-ext');
@import '_includes/_vars';
@import '_includes/_mixins';
@import 'bulma/bulma.sass';
@import 'bulma-carousel/dist/css/bulma-carousel.sass';
@import '_includes/_typography';

.logo {
  height: 6rem;
}

.player button {
  border-radius: 0 0 15px 0;
  height: 3em;
  padding-right: 2em;
  font-size: 0.8rem;
}

button.is-red {
  background-color: $basic-red;
  color: white;
}

.recent-news {
  padding: $mobile-content-padding;
}

.tag {
  border: 1px solid $light-gray;
  &.date-tag {
    color: $link;
  }
}

.featured-img {
  border-radius: 0 0 1em 0;
}

/* =============================================================
                          PLAYER INTERFACE
=============================================================== */

.player-artist {
  height: 18rem;
  background-position: center;
  background-size: cover;
}

.player-shortcuts {
  max-width: 100%;
}

.player-shortcut{
  min-height: 6rem;
  background-color: $light-gray;
  border-right:2px solid white;
  &:last-child {
    border:none;
  }
}

.player-interface {
  background-color: $player-light-gray;
  position: relative;
  .tabs {
    a {
      background-color: $light-gray;
      color: $link;
    }
    position: absolute;
    top: -1.75rem;
    line-height: 1.75;
    }
}

.player-live-info {
  padding: 1rem .75rem;
}

.play-icon-wrapper {
  @include play-icon-wrapper(white);
}

.carousel .play-icon-wrapper {
  margin: 0 auto;
  @include play-icon-wrapper($basic-red);
}

.carousel-item {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 4rem;
    p {
      text-align: left;
      margin-right:1em;
    }
  }
}

.play-icon {
  @include triangle-icon(white);
}

.carousel .play-icon {
  @include triangle-icon($basic-red);
}


.player-artist-name {
  font-size: $size-4;
}

.player-song-title {
  font-size: $size-4;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-after-divider {
  height: 0.3rem;
  background-image: linear-gradient(to left, $basic-red, lighten($basic-red, 20%));
}

.dropdown {
  button {
    border: none;
  }
}
