@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,700&subset=latin-ext');
@import '_includes/_vars';
@import 'bulma/bulma.sass';
@import '_includes/_mixins';
@import '_includes/_typography';
@import '_includes/_elements';

html {
  @include from($tablet){
    font-size: 16px;
  }
}

/* =============================================================
                          NAVIGATION
=============================================================== */

.logo {
  height: 100%;
}

.navbar {
  max-width: 100%;
}

.navbar-dropdown {
  margin-top: -0.3rem;
  border-top: none;
  border-radius: 0 0 12px 0;
  padding: 0.75rem 1.5rem;
}

.navbar-after-divider {
  height: 0.3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to left, $basic-red, lighten($basic-red, 20%));
}

.navbar-menu .navbar-item {
  font-size: $size-6;
  &:last-child{
  }
}

.navbar-link {
  &:after {
    border-width: 1px !important;
  }
}

.dropdown {
  button {
    border: none;
    &:focus {
      outline: 0;
    }
  }
}

/* =============================================================
                          LAYOUT
=============================================================== */
.column  {
    // padding-top: $vertical-rhythm-unit-1/2;
    // padding-bottom: $vertical-rhythm-unit-1/2;
}

section.on-air {
  margin-bottom: $vertical-rhythm-unit-4;
  @include from($desktop) {
    margin-top: 1.4rem;
  }
}

section.recent-news {
  background-color: #fff;
  @extend .section;
}

aside.sidebar {
  @include until($desktop) {
    padding: 1.4rem 0.75rem;
  }
  margin-top: 1.4rem;
  @include from($desktop) {
  margin-left: 1rem;
  }
  @include from($widescreen) {
  margin-left: $gap/2;
  }
}

.sidebar-box {
  margin-bottom: $vertical-rhythm-unit-3;
}

.sidebar-box-item .sidebar-link {
  display: flex;
  font-size: $size-6;
  padding: 0.75rem 0.5rem;
  span {
      color: $gray;
      transition: color 0.5s ease;
  }
  .icon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  &:hover, &:focus {
    span {
        color: $basic-red;
    }
  }
  @include from($desktop) {
    padding: 1rem 0.75rem;
  }
}

.sidebar-link {
  justify-content: space-between;
  align-items: center;
}

.sidebar-box-body {
    background-color: #fff;
    border-radius: 0 0 1rem 0;
    border: 1px solid $light-gray;
}

.sidebar-box-item {
  border-bottom: 1px solid $light-gray;
  &:last-child {
    border: none;
  }
}

.responsive-yt-embed {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  & iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

.is-large-mobile {
  @include from($large-mobile) {
    display: flex;
  }
}

.is-offset-one-desktop {
  @include from($desktop) {
    margin-left: 8.3333%;
 }
}

footer {
  padding: $mobile-content-padding;
}

.article-wrapper {
  position: relative;
  .date-tag {
    position: absolute;
    top: $vertical-rhythm-unit-1/2;
    left: 0.75rem;
  }
}

article {
  margin-bottom: $vertical-rhythm-unit-3;
  padding-bottom: $vertical-rhythm-unit-3;
  border-bottom: 1px solid $light-gray;
  &:last-child {
    padding-bottom: 0;
    border: none;
    margin-bottom: 0;
  }
}

footer {
  background-color: $dark-gray;
  min-height: 20rem;
}

.events-list {
  @include until($desktop){
      background-color: $player-light-gray;
  }
}

.newsletter {
  margin-bottom: $vertical-rhythm-unit-5;
  .columns{
    align-items: center;
  }
}

/* =============================================================
                          ELEMENTS
=============================================================== */

.button {
  @extend button;
}

.article-tags {
  margin-bottom: $vertical-rhythm-unit-1;
}

.article-tag {
  border: 1px solid $light-gray;
  padding: 0.25rem 0.5rem;
  font-size: $size-6;
  margin-right: 0.75rem;
  border-radius: 0 0 12px 0;
  cursor: pointer;
  transition: all 0.25s;
  &:hover {
    color: #fff;
    background-color: $basic-red;
  }
  &.date-tag {
    color: $link;
  }
}

.featured-img {
  border-radius: 0 0 1em 0;
  @include from($desktop) {
    margin-bottom: $vertical-rhythm-unit-3;
  }
}

.highlights-body {
  padding-bottom: $vertical-rhythm-unit-4;
}

// ----------- Video carousel ------------------

.video-card-img-wrapper {
  min-height: 8rem;
  width: 100%;
  position: relative;
}

.video-card-body {
  color: $gray;
  padding:$vertical-rhythm-unit-1 1rem;
}

.video-card-title {
  display: block;
  font-size: $size-4;
}

.video-card-tag {
  display: block;
  position: absolute;
  top:0;
  right:0;
  color: #fff;
  padding: 0.25em 0.5em;
  border-radius: 0 0 1em 0;
  background-color: $basic-red;
}

/* =============================================================
                          PLAYER INTERFACE
=============================================================== */

.player-main {
  background-color: $player-light-gray;
  display: flex;
  .tabs {
    a {
      background-color: $light-gray;
      color: $link;
      padding: 0.25rem 0.5rem;
    }
    position: absolute;
    top: -1.75rem;
    line-height: 1.75;
    }
  padding: $vertical-rhythm-unit-1;
  @include from($tablet) {
      height: 15rem;
  }
}

.player-main-center {
  align-self: center;
}

.player-cover,
.player-cover-icon {
  height: 15rem;
  height: 85vw;
  @include from($large-mobile) {
    height: 15rem;
  }
  @include from($tablet) {
    height: 18rem;
  }
}

.cover {
  position: relative;
  background-position: center;
  background-size: cover;
}

.artist {
  margin-bottom: $vertical-rhythm-unit-1;
}

.player-cover-icon {
  background-color: darken($dark-gray, 20);
  display: flex;
  .icon {
    text-align: center;
    display: block;
    margin: auto;
  }
}

.player-stations-menu {
  position: relative;
  padding: 0 1.25rem;
  background-color: #363636;
  color: $light-gray;
  display: flex;
  align-items: center;
  height: 3rem;
  .is-station-active figure.image img {
    opacity: 1;
  }
  .player-stations-title  {
    font-size: $size-6;
    border-right: 1px solid lighten($gray, 10);
  }
  figure.image {
    height: 24px;
    width: auto;
    img {
      height: inherit;
      width: auto;
      opacity: 0.5;
    }
  }
  @include from($tablet) {
      border-radius: 0 0 15px 0;
  }
}

.station-list-item {
  &:hover {
    .station-tooltip {
      visibility: visible;
      opacity: 0.9;
    }
  }
}

.station-tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 3.5rem;
  margin-left: -20px;
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 0 0 12px 0;
  width: 200px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  font-size: $size-6;
  .tooltip-station-name {
    display: block;
    color: $basic-red;
  }
  .tooltip-title {
    font-weight: bold;
    color: $gray;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: 100%;
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
    border-top-color: white;
  }
}


//wrapper
.player-shortcuts {
  @include until($desktop) {
    padding: 1.4rem 0.75rem;
  }
  @include from($desktop){
    background-color: transparent;
    padding-bottom: $vertical-rhythm-unit-4;
  }
}

//layout dla: pogoda, informacje, auto radio
.permanent-shortcuts {
  @include until($tablet){
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    .column {
      padding: 0.25em;
    }
  }
}

a.player-shortcut {
  display: block; //backup flexboxa, zbędne?
  display: flex;
  flex-direction: column; //na desktop zmienic na row
  font-size: 0.8rem;
  height: 100%; //zbędne?
  background-color: white;
  @include from($tablet) {
    flex-direction: row;
  }
}

a.player-shortcut,
a.player-shortcut-carousel {
  font-size: 0.8rem;
  border-radius: 0 0 15px 0;
  border: 1px solid $light-gray;
}

a.player-shortcut {
  transition: 0.5s all;
  @include from($tablet) {
    &:hover{
      border: 1px solid $basic-red;
    }
  }
}

.player-shortcut-icon,
.player-shortcut-carousel-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  @include until($tablet) {
    &.icon-music {background-color: $music-color};
    &.icon-info {background-color: $info-color};
    &.icon-cloud {background-color: $weather-color};
    &.icon-car {background-color: $auto-radio-color};
  }
  @include from ($tablet){
    padding: 0 0.75rem;
  }
}

.player-shortcut-icon {
    height: 5rem;
  @include from(370px) {
    font-size: 1.2em; //większe ikony
    height: 6rem;
  }
  @include from(450px) {
    font-size: 1.4em;
    height: 7rem;
  }
  @include from($tablet) {
    font-size: 0.8em;
    height: 5rem;
  }
}

.player-shortcut-carousel-left {
  flex: 1;
}

.player-shortcut-time {
  position: absolute;
  top:0.2rem;
  left:0.2rem;
}

.player-shortcut-bottom {
  padding: $vertical-rhythm-unit-1 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-carousel-shortcut {
    border-right: 1px solid $light-gray;
    display: flex;
    align-items: center;
    margin-right: 1em;
  }

#player-main-call-to-action {
    border-radius: 0 0 15px 0;
    height: 3em;
    padding-right: 2em;
    font-size: 0.8rem;
    background-color: $basic-red;
    color: white;
    margin-bottom: $vertical-rhythm-unit-1;
  &:active, &:hover {
    color: white;
  }
  .play-icon-wrapper {
    @include play-icon-wrapper(white);
  }
  @include from($tablet) {
    font-size: 0.9rem;
  }
}

.player-shortcut-call-to-action {
  color: $gray;
  margin: auto;
  line-height: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  display: inline-flex;
  align-items:center;
  .play-icon-wrapper {
      @include play-icon-wrapper($basic-red, 1.5em);
      margin-left: -0.2rem;
  }
}

.tab-content {
  display: none;
  &.is-active{
    display: block;
  }
}

.player-live-info,
.player-next-info {
  padding: 0;
  min-height: $vertical-rhythm-unit-5 * 2;
}

.player-body .player-auditions-carousel {
    margin: $vertical-rhythm-unit-1 0.25em;
}


.advertisement-placeholder {
  margin: 1rem 0;
  padding: 2rem;
  background-color: $light-gray;
}
