@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,700&subset=latin-ext');
@import '_includes/_vars';
@import '_includes/_mixins';
@import 'bulma/bulma.sass';
@import 'bulma-carousel/dist/css/bulma-carousel.sass';
@import '_includes/_typography';


/* =============================================================
                          NAVIGATION
=============================================================== */

.logo {
  height: 6rem;
}

.navbar-after-divider {
  height: 0.3rem;
  background-image: linear-gradient(to left, $basic-red, lighten($basic-red, 20%));
}

.dropdown {
  button {
    border: none;
  }
}

button.is-red {
  background-color: $basic-red;
  color: white;
}

.navbar {
  z-index: 999 !important;
}

menu .navbar-item {
    font-size: $size-5;
    width: 90%;
    margin: 0 auto;
    padding: $vertical-rhythm-unit-1 2rem;
    &:last-child{
      padding-bottom: $vertical-rhythm-unit-3;
    }
  }

/* =============================================================
                          LAYOUT
=============================================================== */

.recent-news,
.recent-video,
.highlights,
.events-list,
footer {
  padding: $mobile-content-padding;
}

footer {
  background-color: $dark-gray;
  min-height: 20rem;
}

.events-list {
  background-color: $player-light-gray;
}

/* =============================================================
                          ELEMENTS
=============================================================== */

.article .tags {
  margin-bottom: 0;
}

.tag {
  border: 1px solid $light-gray;
  &.date-tag {
    color: $link;
    margin-bottom: $vertical-rhythm-unit-3;
  }
}

.featured-img {
  border-radius: 0 0 1em 0;
  margin-bottom: $vertical-rhythm-unit-3;
}

.highlights-body {
  padding-bottom: $vertical-rhythm-unit-4;
}

.dropdown .stream-dropdown-button {
  background-color: #fff;
  border: 1px solid $light-gray;
  padding-right: 0.75em;
}

// ----------- Video ------------------

// .carousel .carousel-container .video-card-wrapper.carousel-item {
//   flex: 1 0 90%;
//   padding-left: 2rem;
// }

.carousel-item .video-card {
  background-color: $light-gray;
  min-height: 20rem;
  border-radius: 0 0 15px 0;
  width: 90%;
  display: block;
}

.video-card-img-wrapper {
  min-height: 8rem;
  width: 100%;
  position: relative;
}

.video-card-body {
  color: $gray;
  padding:$vertical-rhythm-unit-1 1rem;
}

.video-card-title {
  display: block;
  font-size: $size-4;
}

.video-card-tag {
  display: block;
  position: absolute;
  top:0;
  right:0;
  color: #fff;
  padding: 0.25em 0.5em;
  border-radius: 0 0 1em 0;
  background-color: $basic-red;
}

/* =============================================================
                          PLAYER INTERFACE
=============================================================== */

.player-artist {
  height: 18rem;
  background-position: center;
  background-size: cover;
}

.player button {
  border-radius: 0 0 15px 0;
  height: 3em;
  padding-right: 2em;
  font-size: 0.8rem;
}

.player-shortcuts {
  max-width: 100%;
}

.player-shortcut{
  min-height: 6rem;
  background-color: $light-gray;
  border-right:2px solid white;
  &:last-child {
    border:none;
  }
}

.player-interface {
  background-color: $player-light-gray;
  position: relative;
  .tabs {
    a {
      background-color: $light-gray;
      color: $link;
    }
    position: absolute;
    top: -1.75rem;
    line-height: 1.75;
    }
}

.player-live-info {
  padding: 1rem .75rem;
}

.play-icon-wrapper {
  @include play-icon-wrapper(white);
}

.carousel .play-icon-wrapper {
  margin: 0 auto;
  @include play-icon-wrapper($basic-red);
}

.carousel-item {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 4rem;
    p {
      text-align: left;
      margin-right:1em;
    }
  }
}

.play-icon {
  @include triangle-icon(white);
}

.carousel .play-icon {
  @include triangle-icon($basic-red);
}


.player-artist-name {
  margin-top: $vertical-rhythm-unit-3;
  font-size: $size-4;
}

.player-song-title {
  font-size: $size-4;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: $vertical-rhythm-unit-3;
}
