.newsletter-box
  h1.section-title-secondary Zapisz się do naszego newslettera
  .field
    .control
      input.input.is-medium(placeholder="e-mail" type="e-mail")
    .control
      input.input(type="submit")
    span #[small *Tu powinna się znalezc klauzula RODO] 
