.sidebar-box
  h3.sidebar-headline Tym żyje region  
  .sidebar-box-body
    ul.sidebar-box-list
      li.sidebar-box-item
        a.sidebar-link
          span Nowy blok operacyjny oddany do użytku
          span.icon.is-small
            i.fas.fa-arrow-right
      li.sidebar-box-item 
        a.sidebar-link
          span Ekspert radzi: jak ocenić błąd lekarza?
          span.icon.is-small
            i.fas.fa-arrow-right
      li.sidebar-box-item 
        a.sidebar-link 
          span Rozmowa dnia: Michał Wójcik, wiceminister sprawiedliwości
          span.icon.is-small
            i.fas.fa-arrow-right
