footer.article-footer
  .level
    .level-left.social-media-icons
      .addthis_inline_share_toolbox
    .level-right
      p.article-author Autor: Dorota Stabik /rs/        
  //- .fb-like(data-href="https://www.facebook.com/radiokatowice" class="fb-like" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true")
    
