footer#main-footer
  .container
    .columns
      .column.is-3
        section
          h4.footer_headline Partnerzy radia katowice
          ul
            li: a Górnośląskie Towarzystwo Literackie
            li: a Wydawnictwo Górnicze
            li: a Portal Górniczy
            li: a Głos Ziemi Cieszyńskiej
            li: a Kronika Beskidzka
            li: a Regionalny Portal Informacyjny
            li: a Paskud
      .column.is-3
        section
          h4.footer_headline archiwum dźwiękowe
          ul
            li: a Debata Samorządowa Radia Katowice
            li: a Wybuch w Bielsku. Jazda autostradą
            li: a U progu dnia – ks. Stanisław KOŁAKOWSK
            li: a Wypożyczanie samochodu za granicą
            li: a Wizyta ministra kultury. Umowa
      .column.is-2
        section
          h4.footer_headline częstotliwości
          ul
            li: a 89.3 FM – Gliwice
            li: a 97.0 FM – Racibórz
            li: a 98.4 FM – Częstochowa
            li: a 101.2 FM – Katowice
            li: a 102.2 FM – Katowice
            li: a 103.0 FM – Bielsko-Biała
            li: a 216,928 MHz DAB+ 
      .column.is-2
        section
          h4.footer_headline kontakt
          p 
            |  Polskie Radio #[<br/>]
            |  Regionalna Rozgłośnia w Katowicach #[<br/>]
            |  Radio Katowice SA #[<br/>]
          p 
            |  ul. Ligonia 29, 40-953 Katowice #[<br/>]
            |  tel. +48 32 2005 400, fax +48 32 2005 581 #[<br/>]
            |  e-mail: sekretariat@radio.katowice.p #[<br/>]
      .column.is-2
        section
          h4.footer_headline media społecznościowe
          ul
            li: a Facebook
            li: a YouTube
            li: a twitter
            li: a instagram
    
