header
  nav#main-nav.navbar(role="navigation" aria-label="main-navigation")
    .container
      .navbar-brand
        a.navbar-item(href= baseurl +"index.html")
          img.logo(src= baseurl +"assets/files/img/Polskie-Radio-Katowice-Logo.png" alt="Polskie Radio Katowice")
        .navbar-burger(data-target="#main-menu" aria-label="menu" aria-expanded="false" role="button")
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
      .navbar-menu(id="main-menu")
        .navbar-end
          -
            var menuItems = [
                {
                  title:'Radio',
                  href: '#',
                  submenu: [
                    {title:'Audycje', href:  baseurl +'radio/audycje.html'},
                    {title:'Informacje', href:  baseurl +'radio/informacje.html'},
                    {title:'Pogoda', href:  baseurl +'radio/pogoda.html'},
                    {title:'Auto radio', href:  baseurl +'radio/autoradio.html'},
                    {title:'Wywiady', href:  baseurl +'radio/wywiady.html'},
                    {title:'Porady', href:  baseurl +'radio/porady.html'}
                  ]
                  
                }, 
                {
                  title:'Muzyka',
                  href: '#',
                  submenu: [
                    {title:'Playlista', href:  baseurl +'playlista.html'},
                    {title:'Lista przebojów', href:  baseurl +'lista-przebojow.html'}
                  ]
                }, 
                {
                  title:'Informacje',
                  href: '#',
                  submenu: [
                    {title:'Aktualności', href:  baseurl +'informacje/aktualnosci.html'},
                    {title:'Region', href:  baseurl +'informacje/region.html'},
                    {title:'Sport', href:  baseurl +'informacje/sport.html'},
                    {title:'Biznes', href:  baseurl +'informacje/biznes.html'},
                    {title:'Kultura', href:  baseurl +'informacje/kultura.html'},
                    {title:'Zdrowie', href:  baseurl +'informacje/zdrowie.html'},
                    {title:'Styl życia', href:  baseurl +'informacje/styl-zycia.html'}
                  ]
                }, 
                {
                  title:'Reklama',
                  href: '#',
                  submenu: [
                    {title:'Agencja reklamy', href:  baseurl +'agencja-reklamy.html'},
                    {title:'Promocja i marketing', href:  baseurl +'promocja.html'}
                  ]
                },
                {
                  title:'O nas',
                  href: '#',
                  submenu: [
                    {title:'Kontakt', href:  baseurl +'o-nas/kontakt.html'},
                    {title:'Ludzie', href:  baseurl +'o-nas/ludzie-radia.html'},
                    {title:'O radiu', href:  baseurl +'o-nas/radio.html'}
                  ]
                }, 
                {
                  title:'Więcej',
                  href: '#',
                  submenu: [
                    {title:'Polecamy', href:  baseurl +'polecamy.html'},
                    {title:'Patronaty', href:  baseurl +'patronaty.html'},
                    {title:'Radiowe wydarzenia', href:  baseurl +'wydarzenia.html'},
                    {title:'Więcej', href: '#'}
                  ]
                }
            ];
          each menu in menuItems
            .navbar-item.has-dropdown.is-hoverable
              a.navbar-link= menu.title
              .navbar-dropdown
                each item, index in menu.submenu
                    .navbar-item 
                      a(href=item.href)= item.title
                    if index != (menu.submenu.length -1)
                      hr.dropdown-divider
          .level
            .level-left
              .navbar-item.field
                p.control.has-icons-left
                  input.input(type="text", placeholder="Szukaj")
                  span.icon.is-left: i.is-medium.fas.fa-search
            .level-right
              .navbar-item
                .social-media-icons
                  .social-icon
                    img(src= baseurl +'assets/files/img/facebook.svg')
                  .social-icon
                    img(src= baseurl +'assets/files/img/youtube.svg')
                  .social-icon
                    img(src= baseurl +'assets/files/img/instagram.svg')
                  .social-icon
                    img(src= baseurl +'assets/files/img/twitter.svg')
    .navbar-after-divider
