header
  nav.navbar.is-fixed-top(role="navigation" aria-label="main-navigation")
    .container
      .navbar-brand
        a.navbar-item(href="index.html")
          img.logo(src="assets/files/img/Polskie-Radio-Katowice-Logo.png" alt="Polskie Radio Katowice")
        .navbar-burger(data-target="#main-menu" aria-label="menu" aria-expanded="false" role="button")
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
      .navbar-menu(id="main-menu")
        .navbar-start
          -
            var menuItems = [
                {
                  title:'Na antenie',
                  href: '#',
                  submenu: [
                    {title:'Program', href: './program.html'},
                    {title:'Audycje', href: './audycje.html'},
                    {title:'Informacje', href: './informacje.html'},
                    {title:'Pogoda', href: './pogoda.html'},
                    {title:'Auto radio', href: './autoradio.html'},
                    {title:'Wywiady', href: './wywiady.html'},
                    {title:'Porady', href: './porady.html'}
                  ]
                  
                }, 
                {
                  title:'Muzyka',
                  href: '#',
                  submenu: [
                    {title:'Playlista', href: './playlista.html'},
                    {title:'Lista przebojów', href: './lista-przebojow.html'}
                  ]
                }, 
                {
                  title:'Informacje',
                  href: '#',
                  submenu: [
                    {title:'Aktualności', href: './aktualnosci.html'},
                    {title:'Region', href: './region.html'},
                    {title:'Sport', href: './sport.html'},
                    {title:'Biznes', href: './biznes.html'},
                    {title:'Kultura', href: './kultura.html'},
                    {title:'Zdrowie', href: './zdrowie.html'},
                    {title:'Styl życia', href: './styl-zycia.html'}
                  ]
                }, 
                {
                  title:'Reklama',
                  href: '#',
                  submenu: [
                    {title:'Agencja reklamy', href: './agencja-reklamy-html'},
                    {title:'Promocja i marketing', href: './promocja.html'}
                  ]
                },
                {
                  title:'Radio',
                  href: '#',
                  submenu: [
                    {title:'Kontakt', href: './kontakt.html'},
                    {title:'Ludzie', href: './ludzie.html'},
                    {title:'O radiu', href: './radio.html'}
                  ]
                }, 
                {
                  title:'Więcej',
                  href: '#',
                  submenu: [
                    {title:'Polecamy', href: './polecamy.html'},
                    {title:'Patronaty', href: './patronaty.html'},
                    {title:'Radiowe wydarzenia', href: './wydarzenia.html'},
                    {title:'Więcej', href: '#'}
                  ]
                }
            ];
          each menu in menuItems
            .navbar-item.has-dropdown.is-hoverable
              a.navbar-link= menu.title
              .navbar-dropdown
                each item in menu.submenu
                  .navbar-item 
                    a= item.title
                    hr.dropdown-divider
        .navbar-end
          div.navbar-item.field
            p.control.has-icons-left
              input.input.is-medium(type="text", placeholder="Szukaj")
              span.icon.is-left: i.is-medium.fas.fa-search 
    .navbar-after-divider
