header
  nav.navbar.is-fixed-top.is-transparent
    .container
      .navbar-brand
        a.navbar-item(href="index.html")
          img.logo(src="assets/files/img/Polskie-Radio-Katowice-Logo.png" alt="Polskie Radio Katowice")
        .navbar-burger.burger(data-target="#main-menu")
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
      .navbar-menu(id="main-menu")
        .navbar-end
          -
            var menuItems = [
                {'title':'na antenie'}, 
                {'title':'muzyka'}, 
                {'title':'informacje'}, 
                {'title':'reklama'},
                {'title':'radio'}, 
                {'title':'więcej'}
            ];
          each menu in menuItems
            .navbar-item.has-dropdown
              a.navbar-link= menu.title
          div.navbar-item.field
            p.control.has-icons-left
              input.input.is-medium(type="text", placeholder="Szukaj")
              span.icon.is-left: i.is-medium.fas.fa-search 
    .navbar-after-divider
