.container.is-fullhd
  .columns.is-gapless
    .column.is-4-desktop
      .player-cover.cover(style= "background-image: url('assets/files/img/Ferdek.jpg')")
    .column
      .player-main
          h1.player-artist-name Andrzej Grabowski
          h2.player-song-title Jestem jak motyl
          a#player-main-call-to-action.button.is-red(type="button" href="player.html") #[.play-icon-wrapper: span.play-icon] posłuchaj na żywo
.player-shortcuts.container
  .columns
    .column.is-5.is-4-desktop
      include ./mixins/_player_shortcuts.pug
      +shortcuts([
        {icon:"info", title:"Informacje", hour:"16:45", href:"/player-info.html"},
        {icon:"cloud", title:"Pogoda", hour:"14:00", href:"/player-pogoda.html"},
        {icon:"car", title:"Auto Radio", hour:"15:20", href:"/player-autoradio.html"}
      ], true)
    .column.is-7.is-offset-one-desktop
      h3 Posłuchaj również:
      include ./player_includes/_player_carousel.pug
    
