section.player
  .container.is-fullhd
    .player-artist(style= "background-image: url('assets/files/img/Ferdek.jpg')")
    .player-interface
      .tabs.is-toggle
        ul
          li.is-active: a.tab(data-target= "#player-tab-1") Teraz na antenie
          li: a.tab(data-target= "#player-tab-2") Następna audycja
      .player-live-info.tab-content.is-active#player-tab-1
        .dropdown#stream-dropdown
          button.stream-dropdown-button.dropdown-trigger 
            span Streamy 
            span(class= "icon is-small"): i(class="fas fa-angle-down has-text-grey")
          .dropdown-menu
            .dropdown-content
              a.dropdown-item Stream 1
              a.dropdown-item Stream 2
              a.dropdown-item Stream 3
        h1.player-artist-name Andrzej Grabowski
        h2.player-song-title Jestem jak motyl
        a.button.button.is-red(type="button" href="player.html") #[.play-icon-wrapper: span.play-icon] posłuchaj na żywo
      .player-next-info.tab-content#player-tab-2
        h3 Następna Audycja
    include ./player_includes/_player_shortcuts.pug
    include ./player_includes/_player_carousel.pug
    
