section.player
  .container.is-fullhd
    .player-artist(style= "background-image: url('assets/files/img/Ferdek.jpg')")
    .player-interface
      .tabs.is-toggle
        ul
          li.is-active: a.tab(data-target= "#player-tab-1") Teraz na antenie
          li: a.tab(data-target= "#player-tab-2") Następna audycja
      .player-live-info.tab-content.is-active#player-tab-1
        h1.player-artist-name Andrzej Grabowski
        h2.player-song-title Jestem jak motyl
        include ./player_includes/_controls.pug
      .player-next-info.tab-content#player-tab-2
        h3 Następna Audycja
    .player-shortcuts
      include ./player_includes/_player_shortcuts.pug
      include ./player_includes/_player_carousel.pug
      
