.container
  section.newsletter
    img(src="files/img/grajki.svg")
    h1.section-title-secondary Zapisz się do naszego newslettera
    .field
      .control
        input.input.is-large(placeholder="e-mail" type="e-mail")
