img(src="assets/files/img/grajki.svg")
h1.section-title-secondary Zapisz się do naszego newslettera
.field
  .level
    .level-left
      .control
        input.input.is-medium(placeholder="e-mail" type="e-mail")
    .level-right
      .control
        input.input(type="submit")
