.columns
  .column
    img(src="assets/files/img/grajki.svg")
  .column
    h1.section-title-secondary Zapisz się do naszego newslettera
    .field
      .control
        input.input.is-large(placeholder="e-mail" type="e-mail")
