.columns.is-gapless
  .column.is-5-tablet.is-4-desktop
    .player-cover.cover(style= "background-image: url('assets/files/img/Ferdek.jpg')")
  .column.is-7-tablet.is-8-desktop
    .player-main
      .player-main-center
        h3.on-air-title.is-red.is-size-6 Teraz na antenie
        .artist.is-clearfix
          h2.player-artist-name Andrzej Grabowski
          h2.player-song-title Jestem jak motyl
        a#player-main-call-to-action(type="button" href="player.html") #[.play-icon-wrapper: span.play-icon] 
          span.button-span-text posłuchaj na żywo
    .player-stations-menu
      include player_includes/_player_stations.pug
