include ./mixins/_inline_svg.pug
.tabs.is-medium
  ul
    li.tab-title.is-active(data-tab-content = "on-air-tab") 
      a Teraz na antenie
    li.tab-title(data-tab-content = "stations-tab") 
      a Stacje
.on-air
  .content-tab#on-air-tab
    .on-air-inner-wrapper.current
      .columns.is-vcentered.current-audition.is-mobile
        .column.is-narrow
          .audition-cover
            figure.image
              img(src= baseurl + 'assets/files/img/okladka-plyta.jpg')
        .column
          .audition-info
            h3
              span.artist-name Hey
              span.song-title One of them
      .buttons-wrapper
        a(href=baseurl + "player.html" target="_blank").button.call-to-action 
          span Słuchaj Radia
        a(href=baseurl + "radio/program.html").button Sprawdź program
  .content-tab.is-hidden#stations-tab
    .on-air-inner-wrapper.stations
      ul.station-list
        li
          a.station-link(href='#') 
            span.icon
              +svg-icon(svg-icon-name ="top-50")
            .station-link-current-item
              span.stationlink-artist-name Nick Cave
              span.stationlink-title Jubilee Street
            .play-icon-wrapper
              .play-icon
        li
          a.station-link(href='#') 
            span.icon
              +svg-icon(svg-icon-name ="slask")
            .station-link-current-item
              span.stationlink-artist-name Tom Waits
              span.stationlink-title Ol'55
            .play-icon-wrapper
              .play-icon
        li
          a.station-link(href='#') 
            span.icon
              +svg-icon(svg-icon-name ="moje-radio")
            .station-link-current-item
              span.stationlink-artist-name The Dumplings
              span.stationlink-title Raj
            .play-icon-wrapper
              .play-icon
        li
          a.station-link(href='#') 
            span.icon
              +svg-icon(svg-icon-name ="dance")
            .station-link-current-item
              span.stationlink-artist-name Elvis Presley
              span.stationlink-title Crawfish
            .play-icon-wrapper
              .play-icon
