include ./mixins/_carousel.pug
.container
  h1.section-title Patronaty
  .carousel.carousel-animated.carousel-animate-slide.responsive-carousel
    .carousel-container
      .carousel-item
        .patronate
          p patronat 1
      .carousel-item
        .patronate
          p patronat 2
      .carousel-item
        .patronate
          p patronat 3
      .carousel-item
        .patronate
          p patronat 4
      .carousel-item
        .patronate
          p patronat 5
    .carousel-navigation.is-overlay
      .carousel-nav-left
        i.fa.fa-chevron-left(aria-hidden="true")
      .carousel-nav-right
        i.fa.fa-chevron-right(aria-hidden="true")
