section.player
  .container.is-fullhd
    .player-artist(style= "background-image: url('files/img/ferdek.jpg')")
    .player-interface
      .tabs.is-toggle
        ul
          li.is-active: a.tab(data-target= "#player-tab-1") Teraz na antenie
          li: a.tab(data-target= "#player-tab-2") Następna audycja
      .player-live-info#player-tab-1
        .dropdown#stream-dropdown
          button.stream-dropdown-button.dropdown-trigger 
            span Streamy 
            span(class= "icon is-small"): i(class="fas fa-angle-down has-text-grey")
          .dropdown-menu
            .dropdown-content
              a.dropdown-item Stream 1
              a.dropdown-item Stream 2
              a.dropdown-item Stream 3
        h1.player-artist-name Andrzej Grabowski
        h2.player-song-title Jestem jak motyl
        button.button.is-red(type="button") #[.play-icon-wrapper: span.play-icon] posłuchaj na żywo
        .player-next-info#player-tab-2
    .player-shortcuts.columns.is-mobile.is-marginless
      .player-shortcut.column.is-4.has-text-centered
        p 14:00
        span(class="icon is-medium")
          i(class="fas fa-cloud fa-2x")
        p Pogoda
        .player-shortcut-call-to-action 
          .play-icon-wrapper #[span.play-icon]
          span SŁUCHAJ
      .player-shortcut.column.is-4.has-text-centered
        p 16:10
        span(class="icon is-medium")
          i(class="fas fa-car fa-2x")
        p Auto Radio
        .player-shortcut-call-to-action 
          .play-icon-wrapper #[span.play-icon]
          span SŁUCHAJ
      .player-shortcut.column.is-4.has-text-centered
        p 12:45
        span(class="icon is-medium")
          i(class="fas fa-info fa-2x")
        p Informacje
        .player-shortcut-call-to-action 
          .play-icon-wrapper #[span.play-icon]
          span SŁUCHAJ
    .player-auditions-carousel.carousel.carousel-animated.carousel-animate-slide
      h2.carousel-title Ostatnio na antenie
      .carousel-container
        .carousel-item.is-active.has-text-centered
          a  
            p nazwa nagrania
            .play-icon-wrapper #[span.play-icon] 
        .carousel-item.has-text-centered 
          a  
            p nazwa nagrania
            .play-icon-wrapper #[span.play-icon] 
        .carousel-item.has-text-centered 
          a  
            p nazwa nagrania
            .play-icon-wrapper #[span.play-icon] 
      .carousel-navigation.is-overlay
        .carousel-nav-left
          i(class="fa fa-chevron-left")
        .carousel-nav-right
          i(class="fa fa-chevron-right")
    
