include mixins/_article_list.pug
.columns
  .column.is-10-desktop
    h1.section-title Aktualności
    - 
      var article1 = {
        title:"Miasteczko na szczyt klimatyczny",
        image: "miasteczko.jpg",
        tags: ["region","Katowice", "kultura"],
        date: "17.07.2018",
        link: "miasteczko"
      }
      var article2 = {
        title:"Trwa budowa drogi Pszczyna – Racibórz.",
        image: "pszczyna-raciborz.jpg",
        tags: ["region","Pszczyna", "Racibórz"],
        date: "15.07.2018",
        link: "pszczyna-raciborz"
      }
      var article3 = {
        title:"Naukobus. Mobilne centrum Nauki.",
        image: "naukobus.jpg",
        tags: ["kultura","Katowice"],
        date: "13.07.2018",
        link: "#"
      }
      var article4 = {
        title:"Prezydent Silbert: nie ma odpowiednich przepisów do walki z fetorem.",
        image: "fetor.jpg",
        tags: ["region","Jaworzno"],
        date: "12.07.2018",
        link: "#"
      }
    +article(article1)
    +article(article2)
    +article(article3)
    +article(article4)
//- <!-- end news -->
