.columns
  .column.is-8
    .columns.is-mobile
      .column.is-4
        .player-shortcut
          p pogoda
      .column.is-4
        .player-shortcut
          p auto radio
      .column.is-4
        .player-shortcut
          p informacje
  .column.is-4
    .carousel.columns
      .column.is-12
        .player-shortcut
          p karuzela
      //- .column.is-12
      //-   .player-shortcut
      //-     p karuzela
      //- .column.is-12
      //-   .player-shortcut
      //-     p karuzela
