.columns
  .column.is-8
    include mixins/_player_shortcuts.pug
    +shortcuts([
      {icon:"info", title:"Informacje", hour:"16:45", href:"player_info.html"},
      {icon:"cloud", title:"Pogoda", hour:"14:00", href:"player_pogoda.html"},
      {icon:"car", title:"Auto Radio", hour:"15:20", href:"player_autoradio.html"}
    ])
  .column.is-4
    include player_includes/_player_carousel.pug
