.sidebar-content
  .sidebar-box
    h3.sidebar-headline Tym żyje region  
    .sidebar-box-body
      ul.sidebar-box-list
        li.sidebar-box-item
          a.sidebar-link
            span Nowy blok operacyjny oddany do użytku
            span.icon.is-small
              i.fas.fa-arrow-right
        li.sidebar-box-item 
          a.sidebar-link
            span Ekspert radzi: jak ocenić błąd lekarza?
            span.icon.is-small
              i.fas.fa-arrow-right
        li.sidebar-box-item 
          a.sidebar-link 
            span Rozmowa dnia: Michał Wójcik, wiceminister sprawiedliwości
            span.icon.is-small
              i.fas.fa-arrow-right
  a
    .ad-placeholder
  .sidebar-box
    h3.sidebar-headline Live TV
    .responsive-yt-embed
      #ytplayer

    script.
      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/player_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      var player;
      
      function onYouTubePlayerAPIReady() {
        player = new YT.Player('ytplayer', {
          videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady
          }
        });
      }
      
      function onPlayerReady(e) {
        e.target.setVolume(0);
        e.target.playVideo();
      }
