.on-air-top-bar
  .container
    .level
      h3 teraz na antenie
      h2 Varius Manx, Kasia Stankiewicz #[b KOT BEZ OGONA]
      a#player-main-call-to-action(type="button" href="player.html") #[.play-icon-wrapper: span.play-icon] 
        span.button-span-text posłuchaj na żywo
