.on-air-top-bar
  .container
    .columns.is-vcentered
      .column
        h2.on-air-top-info Teraz na antenie:
      .column
        h3.on-air-top-name Varius Manx, Kasia Stankiewicz #[span.on-air-top-title KOT BEZ OGONA]
      .column
        a#top-bar-call-to-action.button.is-primary.is-outlined(aria-label="Play" href="player.html")
          span.button-span-text posłuchaj na żywo
