extends ../layouts/static-layout.pug
include ../_includes/mixins/_media.pug 
block vars
  -
    let title ="Promocja i marketing";
    let baseurl= "../";
block main-content
  section
    h1.page-title Promocja i marketing
block sidebar
block after-main
  
