extends ./layout.pug

block content
  include ../_includes/_small_on_air.pug
  main.main-content
      .container
          .columns.is-desktop
              .column.is-9-desktop
                .columns.is-centered
                    .column.is-10.is-9-fullhd
                        article.main-article
                          .article-meta
                            block article-meta
                          block article-content
                        block after-article
              .column.is-3-desktop
                  aside.sidebar
                    block sidebar
                      include ../_includes/_sidebar.pug
  block after-main
