doctype html
block vars
block head
  head
    title= title
    meta(charset='utf-8')
    meta(name='author', content='Filip Ciślak')
    meta(name='description', content='Polskie Radio Katowice')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,700', rel='stylesheet', type='text/css')
    link(href= baseurl + 'assets/css/style.css', rel='stylesheet', type='text/css')
    link(href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', rel='stylesheet', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    script(type="text/javascript" src= baseurl + 'assets/js/jQuery.min.js')
    script(type="text/javascript" src= baseurl + 'assets/js/bulma-carousel.min.js')
    block additionalHeadScripts
  body
    block header
      include ../_includes/_top_adspace.pug
      include ../_includes/_header.pug
    block content
    a(href="#" id="c-go-top" class="c-go-top")
      i.fa.fa-arrow-up.fa-fw
    include ../_includes/_footer.pug
    script(type="text/javascript",src= baseurl + "assets/js/index.js")
    script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5bcedd59c7d4b6f7")
    block additionalClosingScript
