doctype html
block vars
block head
  head
    title= title
    meta(charset='utf-8')
    meta(name='author', content='Filip Ciślak')
    meta(name='description', content='Polskie Radio Katowice')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,700', rel='stylesheet', type='text/css')
    link(href= baseurl +'assets/css/player.css', rel='stylesheet', type='text/css')
    link(href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', rel='stylesheet', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    link(rel="icon" href="./favicon.ico")
    script(type="text/javascript" src= baseurl + 'assets/js/jQuery.min.js')
    script(type="text/javascript" src= baseurl + 'assets/js/lodash.min.js')
    script(type="text/javascript" src= baseurl + 'assets/js/modernizr.js')
    script(type="text/javascript" src= baseurl + 'assets/js/bulma-carousel.min.js')
block header
  body
    include ../_includes/_header_player.pug
    block content
    script(type="text/javascript",src= baseurl + "assets/js/index.js")
