extends ./layout.pug

block content
  include ../_includes/_small_on_air.pug
  main.main-content.section
    .container
      .columns.is-desktop.is-gapless
        .column.is-9-desktop
          .columns.is-centered
              .column.is-10
                block main-content
        .column.is-3-desktop
          aside.sidebar
            block sidebar
  block after-main
