extends ./layout.pug

block content
  include ../_includes/_small_on_air.pug
  main.main-content.section
    .container
      .columns.is-desktop.is-gapless
        .column.is-10-desktop.is-9-widescreen
          block main-content
        .column.is-2-desktop.is-3-widescreen
          block sidebar
  block after-main
