extends ../layouts/static-layout.pug
block vars
  -
    let title ="Polskie Radio Katowice - kontakt";
    let baseurl= "../";
block main-content
  h1.section-title Kontakt
  p.is-size-4 Polskie Radio Regionalna Rozgłośnia w Katowicach Radio Katowice SA
  section.contact-section
    .contact-level
      span.icon
        i.fas.fa-map
      span ul Ligonia 29, 40-953 Katowice 
    .contact-level
      span.icon
        i.fas.fa-phone
      span  +48 32 2005 400, 
      span  fax +48 32 2005 581 
    .contact-level
      span.icon
        i.fas.fa-at
      a(href='mailto:sekretariat@radio.katowice.pl') sekretariat@radio.katowice.pl
  section.contact-section
    p NIP 634-00-20-312
    p konto: ING BSK SA O/Katowice 
    p IBAN: PL 57 1050 1214 1000 0007 0006 0692 
    p Kod BIC (Swift): INGBPLPW
block sidebar
  .sidebar-content
    .sidebar-box
      .sidebar-box-body
        ul.sidebar-box-list
          li.sidebar-box-item
            p
            |  W każdej sprawie 24h/dobę: #[br]
            |  32 200 55 55
          li.sidebar-box-item
            p
            |  Auto Radio Katowice/informacje drogowe: #[br]
            |  691 400 400
          li.sidebar-box-item
            p
            |  Antena/udział w audycji: #[br]
            |  32 205 10 22
          li.sidebar-box-item
            p
            |  Reporter dyżurny Newsroom: #[a(href="mailto:reporter@radio.katowice.pl") reporter@radio.katowice.pl]
block after-main
  
