extends ../layouts/static-layout.pug
include ../_includes/mixins/_media.pug 
block vars
  -
    let title ="Ludzie radia";
    let baseurl= "../";
block main-content
  section.is-vmargin-5
    h1.page-title Ludzie Radia
    .columns.is-multiline
      .column.is-half
        +media('Piotr Ornowski', 'Prezes Zarządu. Redaktor Naczelny Polskiego Radia Katowice')
      .column.is-half
        +media('Piotr Karmański', 'Dyrektor Kreatywny')
      .column.is-half
        +media('Marek Ciepliński', 'Dyrektor Programowy')
      .column.is-half
        +media('Mariusz Masiarek', 'Zastępca Dyrektora Programowego')
  section.is-vmargin-5
    h2.section-title.accordion-title
      span Zespół dziennikarski
      span.icon.is-small.is-pulled-right
        i.fas.fa-plus
        i.fas.fa-minus
    .accordion-content
      .columns.is-multiline
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
  section.is-vmargin-5
    h2.section-title.accordion-title
      span Dział techniki
      span.icon.is-small.is-pulled-right
        i.fas.fa-plus
        i.fas.fa-minus
    .accordion-content
      .columns.is-multiline
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
  section.is-vmargin-5
    h2.section-title.accordion-title
      span Zespół Współpracowników
      span.icon.is-small.is-pulled-right
        i.fas.fa-plus
        i.fas.fa-minus
    .accordion-content
      .columns.is-multiline
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
  section.is-vmargin-5
    h2.section-title.accordion-title
      span Dział Promocji i Marketingu
      span.icon.is-small.is-pulled-right
        i.fas.fa-plus
        i.fas.fa-minus
    .accordion-content
      .columns.is-multiline
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
        .column.is-half
          +media('Imię i Nazwisko', 'Stanowisko')
block sidebar
block after-main
  
