extends ../layouts/layout.pug
append head
  title Polskie Radio Katowice Artykuł
block content
 section.main-content
   .container
     .columns.is-desktop
       .column.is-10-desktop.is-9-widescreen
         .main-article-container
           .columns.is-centered
             .column.is-10
                 article
                   .article-meta
                     span.article-category informacje
                     .article-tags
                       span.article-tag.is-medium Region
                       span.article-tag.is-medium Katowice
                       span.article-tag.is-medium Kultura
                     span.article-date 15.07.2018
                   h1.article-title Miasteczko na szczyt klimatyczny
                   figure.image
                     img(src="/assets/files/img/miasteczko.jpg")
                   p W Katowicach powstaje miasteczko na szczyt klimatyczny ONZ.
                   p Wydarzenie odbędzie się w Spodku i Międzynarodowym Centrum Kongresowym. Grupa PTWP, która zarządza obiektami, zapewnia, że prace  przebiegają bez zakłóceń, jednak trzeba sprostać szczególnym wymaganiom, także kulinarnym. Różnorodna kuchnia musi zadowolić gości z blisko 200 krajów. 
                   blockquote
                     |  Szczyt klimatyczny ONZ jest dużym wyzwaniem logistycznym. To spotkanie wielu kultur i religii
                     small Marcin Stolarz z PTWP Event Center. 
                   audio(controls="true")
                   p Obecnie trwa przygotowanie infrastruktury pod względem technicznym, uzupełnianie i szkolenie kadry. Spodek i MCK  mają być przekazane na przełomie października i listopada. 
                   p Według szacunków w Katowicach gościć będzie około 40 tysięcy osób. Szczyt klimatyczny ONZ odbędzie się w dniach 3-14 grudnia.
                   p.article-author Autor: Paulina Kurek/ds
       .column.is-2-desktop.is-3-widescreen
         aside.sidebar
           include ../_includes/_sidebar.pug
