doctype html
html
    include ../_includes/_head.pug
    body
      include ../_includes/_top_adspace.pug
      include ../_includes/_header.pug
      section.main-content
        .container
      section.section
        .container
          .columns
            .column.is-6
              include ../_includes/_highlights.pug
            .column.is-6
              include ../_includes/_events-list.pug
      section.section.partners
        include ../_includes/_patrons_carousel.pug
      include ../_includes/_footer.pug
