extends ../layouts/layout.pug
include ../_includes/mixins/_article_list.pug 
block vars
    -
        let title ="Polskie Radio Katowice";
        let author= ""
        let useFacebook= true;
        let baseurl= "../";
        var article1 = {
            title:"Miasteczko na szczyt klimatyczny",
            image: "miasteczko.jpg",
            tags: ["Region","Katowice","Kultura"],
            date: "17.07.2018",
            link: "miasteczko"
        };
        var article2 = {
            title:"Trwa budowa drogi Pszczyna – Racibórz.",
            image: "pszczyna-raciborz.jpg",
            tags: ["region","Pszczyna", "Racibórz"],
            date: "15.07.2018",
            link: "pszczyna-raciborz"
        };
        var article3 = {
            title:"Naukobus. Mobilne centrum Nauki.",
            image: "naukobus.jpg",
            tags: ["kultura","Katowice"],
            date: "13.07.2018",
            link: "naukobus"
        };
        var article4 = {
            title:"Prezydent Silbert: nie ma odpowiednich przepisów do walki z fetorem.",
            image: "fetor.jpg",
            tags: ["region","Jaworzno"],
            date: "12.07.2018",
            link: "fetor"
        }
block content
    include ../_includes/_small_on_air.pug
    main.main-content
        .container
            .columns.is-desktop
                .column.is-10-desktop.is-9-widescreen
                    .main-article-container
                        .columns.is-centered
                            .column.is-10
                                article
                                    .article-meta
                                        span.article-category informacje
                                        .article-tags
                                            span.article-tag.is-medium Region
                                            span.article-tag.is-medium Jaworzno
                                        span.article-date 15.07.2018
                                    h1.article-title Prezydent Silbert: nie ma odpowiednich przepisów do walki z fetorem
                                    figure.image
                                        img(src=baseurl + "/assets/files/img/fetor.jpg")
                                    blockquote
                                      | Mieszkańcy Jaworzna-Szczakowej mają dość smrodu z pobliskiej garbarni. 
                                      Do urzędu miasta od dawna napływają zgłoszenia o uciążliwościach, jednak problemu nie udaje się rozwiązać.
                                    p Na prośbę magistratu, zakład kontrolowany był m.in. przez inspektorów WIOŚu. Nie wykryto jednak przekroczenia norm. 
                                    blockquote
                                        |  Problem istnieje i daje się we znaki mieszkańcom. Nie ma jednak odpowiednich przepisów które umożliwiłyby nam skuteczną walkę
                                        small mówił w porannym programie Radia Katowice prezydent Jaworzna, Paweł Silbert. 
                                    audio(controls="true" src="https://www.radio.katowice.pl/sound/38272/08-23-szczyt-klimatyczny-nietypowe-przygotowania.mp3")
                                    blockquote
                                        |  Pomocna mogłaby być planowana ustawa antyodorowa. Niestety projekt nie obejmuje na razie zakładów tego typu
                                        small dodaje Silbert. 
                                    audio(controls="true" src="https://www.radio.katowice.pl/sound/38272/08-23-szczyt-klimatyczny-nietypowe-przygotowania.mp3")
                                    p
                                      | W ubiegłym roku prezydent Jaworzna, zobowiązał Garbarnię Szczakowa do wykonania działań ograniczających oddziaływania na 
                                      | środowisko w zakresie uciążliwości odorowych. 
                                      | Zakład miał m.in. wprowadzić monitoring emisji odoru oraz wykonać remont magazynu w którym przechowywane są odpady.
                                    include ../_includes/_article_footer.pug
                .column.is-2-desktop.is-3-widescreen
                    aside.sidebar
                        include ../_includes/_sidebar.pug
    section.similiar-articles
        .container
          h2.section-title Podobne artykuły
          .columns
            +similiarArticles(article1)
            +similiarArticles(article2)
            +similiarArticles(article3)
            +similiarArticles(article4)
