mixin media(name, position)
  li.media
    figure.media-left.image.is-128x128  
      img(src="https://via.placeholder.com/128x128")
    .media-content
      .content
        p #[strong= name]
        p= position
