mixin media(name, position)
  li.media
    figure.media-left.image.is-128x128  
      img(src=  baseurl + "assets/files/img/logo-szare.jpg")
    .media-content
      .content
        p #[strong= name]
        p= position
