mixin current(current)
  .container.is-fullhd
    if current.image
      .player-cover.cover(style= "background-image: url("+ baseurl + "'assets/files/img/" + current.image + "')")
        include ../player_includes/_controls.pug
    else if current.icon
      .player-cover-icon
        span(class="icon is-large icon-"+ current.icon)
          i(class="fas fa-3x fa-"+ current.icon)
    .player-main 
      .player-live-info
        .tabs.is-boxed.is-fullwidth.is-toggle
          ul
            li.tab-title.is-active(data-tab-content = "on-air-tab") 
              a
                span.icon
                  img(src=baseurl + "assets/files/img/soundwave.svg")
                span Teraz na antenie
            li.tab-title(data-tab-content = "stations-tab") 
              a Stacje
        .content-tab#on-air-tab
          .player-current
            .columns.is-mobile
              .column.is-2
                span.is-large.icon.player-current-station
                  img(src=baseurl + "assets/files/img/logo-symbol-negatyw.svg")
              .column.is-offset-1
                h3
                  span.artist-name HEY
                  span.song-title FIRE
        .content-tab.is-hidden-mobile#stations-tab
          .player-stations
            h3.audition-title lista stacji
