mixin current(current)
  .container.is-fullhd
    if current.image
      .player-cover.cover(style= "background-image: url('assets/files/img/" + current.image + "')")
        include ../player_includes/_controls.pug
    else if current.icon
      .player-cover-icon
        span(class="icon is-large icon-"+ current.icon)
          i(class="fas fa-3x fa-"+ current.icon)
    .player-main 
      include ../player_includes/_player_stations.pug
      .player-live-info
        if current.name
          h1.player-artist-name= current.name
        else if current.date
          h1.player-artist-name= current.date
        h2.player-song-title= current.title
