mixin shortcuts(data)
  each i in data
    a.player-shortcut.columns.is-mobile(href=i.href)
      if i.icon
        .column.is-3.has-text-centered.has-icon
          span(class="icon is-medium icon-" + i.icon)
            i(class="fas fa-2x fa-" + i.icon)
      else if i.image
        .column.is-3.cover(style= "background-image: url('assets/files/img/" + i.image + "')")
      .column.is-9
        if i.hour
          p= i.hour
        else
          p LIVE
        p= i.title
        .player-shortcut-call-to-action 
          .play-icon-wrapper #[span.play-icon]
          span SŁUCHAJ
