extends ../layouts/static-layout.pug
block vars
  -
    let title ="Playlista";
    let baseurl= "../";
block main-content
  h1.page-title.is-borderless Co było grane w Radiu Katowice
  .day-selection
    .level
      .level-item
        .figure.icon
          i.fa-arrow-left.fas
      .level-item      
        span.current-day DZISIAJ
      .level-item
        .figure.icon
          i.fa-arrow-right.fas
  // tabela 1
  table.table
    thead
      tr
        th(colspan=2) 
          span.icon.is-large
            i.fas.fa-clock
          | 17:00
    -
      var hour1 = [
        {'h': '17:52',  'a': 'Rod Stewart - BABY JANE'},
        {'h': '17:49',  'a': 'Alizee - J\'EN AI MARRE!'},
        {'h': '17:45',  'a': 'Procol Harum - A WHITER SHADE OF PALE'},
        {'h': '17:37',   'a': 'Budka Suflera - V BIEG'},
        {'h': '17:30',   'a': 'Dire Straits - SO FAR AWAY'},
      ]
    each f in hour1
      tr
        td= f.h
        td= f.a
  // tabela 2
  table.table
    thead
      tr
        th(colspan=2) 
          span.icon.is-large
            i.fas.fa-clock
          | 16:00
    -
      var hour2 = [
        {'h': '16:52',  'a': 'Goya - TYLKO MNIE KOCHAJ'},
        {'h': '16:49',  'a': 'Starship - SARA'},
        {'h': '16:45',  'a': 'Selena Gomez - BACK TO YOU'},
        {'h': '16:37',   'a': 'Jamelia - SUPERSTAR'},
        {'h': '16:30',   'a': 'The Beatles - ELEANOR RIGBY'},
      ]
    each f in hour2
      tr
        td= f.h
        td= f.a
